<%= simple_form_for(@invoice_list) do |f| %>
  <%= f.error_notification %>

<div class="col-md-12">
	<div class="col-md-8">
		<div class="col-md-12">
			<div class="col-md-2">
    <%= f.input :number %>
    </div>
			<div class="col-md-10">
    <%= f.input :date, order: [:day, :month, :year]  %>
    </div>
		</div>
		<div class="col-md-12">
			<div class="col-md-3">
			<%= f.association :client%>
			</div>
			<div class="col-md-3">
			 <%= f.association :company %>
			 </div>
			 <div class="col-md-3">
			<%= f.input :companytwo, collection: Company.all%>
			</div>
		</div>
	</div>
	<div class="col-md-4">
	<div class="col-md-6">
    <%= f.input :status , collection: [ "Новый", "В работе", "Оплачен"] %>
	</div>
	<div class="col-md-12">
	    <%= f.input :invoiceout_check %>
	</div>
	</div>
</div>

<div class="col-md-12" style="border-top:1px solid #ddd;">
		<div class="col-md-8" style="margin-top:20px;">
		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th>Title</th>
		      <th>Quantity</th>
		      <th>Price</th>
		      <th>Sum</th>
		      <th></th>
		    </tr>
		  </thead>
		  <tbody>
			<%= f.simple_fields_for :invoice_list_items do |invoice_list_item| %>
			<%= render 'invoice_list_item_fields', :f => invoice_list_item %>
			<% end %>
		   
		  </tbody>
		</table>	
		
		<div class='links', style="float:left;">
		<%= link_to_add_association 'add line', f, :invoice_list_items, 'data-association-insertion-method' => "prepend"%>
		</div>
	</div>
	
		
<div class="col-md-4" style="margin-top:20px;">
	<div class="col-md-12">
	<%= f.button :submit, class: 'btn btn-default btn-sm' %>
	<%= link_to 'Show', @invoice_list, class: 'btn btn-default btn-sm'  %>
	<%= link_to 'Back', invoice_lists_path, class: 'btn btn-default btn-sm'  %>
	</div>
	<div class="col-md-6" style="margin-top:20px;">
	<%= f.input :discount, as: :integer %>

	<p>
		<strong>Total Price:</strong>
		<%= @invoice_list.total_price %> 
	</p>
	</div>
</div>

</div>   
<% end %>
</div>