<%= simple_form_for(@invoice_list) do |f| %>
  <%= f.error_notification %>

<div class="col-md-12">
	<div class="col-md-8">
		<div class="col-md-12">
			<div class="col-md-2">
    <%= f.input :number %>
    </div>
		<div class="col-md-3">
			<% if !@invoice_list.date.nil? %>
		    <%= f.input :date, as: :string , :input_html => { :value => @invoice_list.date.strftime("%d/%m/%Y") } %>
		    <%else%>
		    <%= f.input :date, as: :string %>
		    <%end%>
		</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-3">
			<%= f.association :client%>
			</div>
			<div class="col-md-3">
			 <%= f.input :company_title, as: :autocomplete, url:  autocomplete_company_title_invoice_lists_path, input_html: { 'data-id-element' => '#invoice_list_company_id' }  %>
			 <%= f.input :company_id, as: :hidden %>
			 </div>
			 <div class="col-md-3">
			<%= f.input :company_title, as: :autocomplete, url:  autocomplete_company_title_invoice_lists_path, input_html: { 'data-id-element' => '#invoice_list_companytwo' }, label: "Грузополучатель"  %>
			<%= f.input :companytwo, as: :hidden %>
			</div>
		</div>
	</div>
	<div class="col-md-4">
	<div class="col-md-6">
    <%= f.input :status , collection: [ "Новый", "В работе", "Оплачен"] %>
	</div>
	<div class="col-md-12">
	    <%= f.input :invoiceout_check %>
	</div>
	</div>
</div>

<div class="col-md-12" style="border-top:1px solid #ddd;">
			<div class='links'>
		<%= link_to_add_association t('add_item'), f, :invoice_list_items, 'data-association-insertion-node' => "#invoice_list_items", 'data-association-insertion-method' => "append"%>
		</div>
		<div class="col-md-8" style="margin-top:20px;">
		<table class="table table-hover" id="invoice_list_items">
		  <thead>
		    <tr>
		      <th><%= t 'item_title' %></th>
		      <th><%= t 'item_quantity' %></th>
		      <th><%= t 'item_price' %></th>
		      <th><%= t 'item_sum' %></th>
		      <th></th>
		    </tr>
		  </thead>
			<%= f.simple_fields_for :invoice_list_items do |invoice_list_item| %>
			<%= render 'invoice_list_item_fields', :f => invoice_list_item %>
			<% end %>
		   
		</table>	
		
	</div>
	
		
<div class="col-md-4" style="margin-top:20px;">
		<div class="col-md-6" >
		<p><%= t 'discount' %> - <%= @invoice_list.discount %> </p>
	<p><%= t 'total' %> - <%= @invoice_list.total_price %> </p>
	</div>

	<div class="col-md-12">
	<%= f.button :submit, class: 'btn btn-default btn-sm' %>
	<%= link_to t('show'), @invoice_list, class: 'btn btn-default btn-sm'  %>
	<%= link_to t('back'), invoice_lists_path, class: 'btn btn-default btn-sm'  %>
	</div>
</div>

</div>   
<% end %>
</div>