<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style = "background: white; margin: 50px;padding: 15px;"></div>
<p id="notice"><%= notice %></p>
<div class="col-md-12" >
	<div class="col-md-12" style="margin-bottom:20px;">
		<div class="col-md-2">
<h2>Накладные </br><small>сводная таблица</small></h2v>
		</div>
				<div class="col-md-5">
					<form class="form-inline">
					<%= t '.period' %>
			<%= search_form_for @q, url: search_invoice_lists_path, class: 'form-inline'  do |f|%>
			<div class = "form-group">
				<%= f.date_field :date_gteq, class: "form-control input-sm", placeholder: "Начальная дата" %>
				<%= f.date_field :date_lteq, class: "form-control input-sm", placeholder: "Конечная дата" %>
			</div>
			<%= f.submit t('search'), class:"btn btn-success  btn-sm"%>
			<% end %>
					</form>
</div>

		<div class="col-md-5">
			<form class="form-inline">
	<%=t 'search_t'%>
		<%= search_form_for @q do |f|%>
  		<div class = "form-group">
				<%= f.search_field :number_eq, placeholder: t('.number_eq'), class: "form-control input-sm"  %> 
				<%= f.search_field :status_cont, placeholder: t('.status_cont'), class: "form-control input-sm"  %>  
				</div>
				<%= f.submit t('.search'), class: 'btn btn-default btn-sm' %>
			<% end %>
			</form>
		</div>
		<div class="col-md-12">
		<div class="col-md-5">
<!-- 		<p><%=link_to 'Создать накладную', new_invoice_list_path %></p> -->
		</div>
	</div>
</div>

<div class="col-md-12">
	<div class="media">
	  <div class="media-body">
		<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sort_link(@q, :number, t('.number')) %></th>
      <th><%= sort_link(@q, :date, t('.date')) %></th>
      <th><%= t '.status' %></th>
      <th><%= sort_link(@q, :total_price, t('.total')) %></th>
      <th><%= t '.client' %></th>
      <th><%= t '.company' %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoice_lists.each do |invoice_list| %>
      <tr>
        <td><%=  link_to invoice_list.number, invoice_list,  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'%></td>
        <td><%= invoice_list.date.strftime("%d / %m / %Y")  %></td>
        <td><%= invoice_list.status %></td>
        <td><span data-toggle="popover" data-content="<% invoice_list.invoice_list_items.each do |pr| %><p><%=pr.title %> - <%= pr.quantity %> шт - <%= pr.price %>р<%end%></p>" data-placement="top" data-trigger="hover"><%= invoice_list.total_price %></td>
        <td><%= invoice_list.client.surname %> <%= invoice_list.client.name %></span></td>
        <td><%= invoice_list.company.title.truncate(25) if invoice_list.company !=nil %></td>
        <td><%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, invoice_list, method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @invoices %>
	  </div>
	</div>
</div>
</div>


