<p id="notice"><%= notice %></p>
<div class="col-md-12" style="margin-bottom:20px;">
	<div class="col-md-12">
		<div class="col-md-2">
<h1>Накладные </br><small>сводная таблица</small></h1>
		</div>
				<div class="col-md-3">
		</div>
		<div class="col-md-7">
			<form class="form-inline">
			<p><%= t '.search_t' %></p>
			<%= search_form_for @search do |f|%>
				<div classs = "search">
				<%= f.search_field :number_eq, placeholder: t('.number_eq'), class: "form-control input-sm"  %> 
				<%= f.search_field :status_cont, placeholder: t('.status_cont'), class: "form-control input-sm"  %>  
				<%= f.submit t('.search'), class: 'btn btn-default btn-sm' %>
				</div>
			<% end %>
			</form>
		</div>
		<div class="col-md-12">
		<div class="col-md-5">
<!-- 		<p><%=link_to 'Создать накладную', new_invoice_list_path %></p> -->
		</div>
	</div>
</div>

<div class="col-md-12">
	<div class="media">
	  <div class="media-body">
		<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t '.number' %></th>
      <th><%= t '.date' %></th>
      <th><%= t '.status' %></th>
      <th><%= t '.total' %></th>
      <th><%= t '.client' %></th>
      <th><%= t '.company' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoice_lists.each do |invoice_list| %>
      <tr>
        <td><%= invoice_list.number %></td>
        <td><%= invoice_list.date.strftime("%d / %m / %Y")  %></td>
        <td><%= invoice_list.status %></td>
        <td><%= invoice_list.total_price %></td>
        <td><%= invoice_list.client.surname %> <%= invoice_list.client.name %></td>
        <td><%= invoice_list.company.title if invoice_list.company !=nil %></td>
        <td><%= link_to t('show'), invoice_list, class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to t('edit'), edit_invoice_list_path(invoice_list), class: 'btn btn-success btn-xs'  %></td>
        <td><%= link_to t('destroy'), invoice_list, method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @invoices %>
	  </div>
	</div>
</div>
</div>


