<style>
  	.header, .myfooter {display: none;}
</style>
<div class="col-md-12" style="float: left; margin-top: 20px;">
<p>
<%= link_to "Напечатать", print_invoice_list_path(:format => :pdf), {class: 'btn btn-success btn-xs'} %>
</p>
</div>
<div class="col-md-12">
<TABLE CELLSPACING="0" COLS="95" BORDER="0" style="width:1050px;margin:10px;">
	<COLGROUP SPAN="95" WIDTH="15"></COLGROUP>

	<TR>
		<TD COLSPAN=8 ROWSPAN=4 HEIGHT="63" ALIGN="LEFT" VALIGN=TOP><FONT FACE="Times New Roman" SIZE=1>Универсальный передаточный документ</FONT></TD>
		<TD STYLE="border-left: 2px solid #000000;padding-left: 5px;" COLSPAN=20 ALIGN="LEFT"><FONT FACE="Times New Roman" SIZE=1>Счет-фактура N </FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=7 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><%= @invoice_list.number%><BR></FONT></TD>
		<TD COLSPAN=2 ALIGN="CENTER"><FONT FACE="Times New Roman">от</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=10 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><%= @invoice_list.date.strftime("%d / %m / %Y")%><BR></FONT></TD>
		<TD COLSPAN=4 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(1)</FONT></TD>
		<TD COLSPAN=45 ROWSPAN=3 ALIGN="RIGHT" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Приложение N 1<BR>к постановлению Правительства Российской Федерации<BR>от 26 декабря 2011 года N 1137</FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-left: 2px solid #000000;padding-left: 5px;" COLSPAN=20 ALIGN="LEFT"><FONT FACE="Times New Roman" SIZE=1>Исправление N</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000" COLSPAN=7 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman"><BR></FONT></TD>
		<TD COLSPAN=2 ALIGN="CENTER"><FONT FACE="Times New Roman">от</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000" COLSPAN=10 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman"><BR></FONT></TD>
		<TD COLSPAN=4 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(1а)</FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-left: 1px solid #000000" COLSPAN=32 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-left: 2px solid #000000;padding-left: 5px;" COLSPAN=26 ALIGN="LEFT" SDNUM="1049;0;@"><B><FONT FACE="Times New Roman" SIZE=1>Продавец</FONT></B></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=58 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Общество с ограниченной ответственностью &quot;ФриЗ&quot;<BR></FONT></TD>
		<TD COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(2)</FONT></TD>
		</TR>
	<TR>
		<TD COLSPAN=4 HEIGHT="18" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Статус: </FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=2 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>1<BR></FONT></TD>
		<TD STYLE="border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=2 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-left: 2px solid #000000;padding-left: 5px;" COLSPAN=26 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Адрес</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000" COLSPAN=58 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>117534, г. Москва, улица Чертановская д47 корп 2<BR></FONT></TD>
		<TD COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(2а)</FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-right: 1px solid #000000" COLSPAN=8 ROWSPAN=8 HEIGHT="140" ALIGN="LEFT" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR>1 - счет-фактура и передаточный документ (акт) <BR>2 - передаточный документ (акт)</FONT></TD>
		<TD STYLE="border-left: 2px solid #000000;padding-left: 5px;" COLSPAN=26 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>ИНН/КПП продавца</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000" COLSPAN=58 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>7726561249 /  772601001<BR></FONT></TD>
		<TD COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(2б)</FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-left: 2px solid #000000;padding-left: 5px;" COLSPAN=26 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Грузоотправитель и его адрес</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000" COLSPAN=58 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>ООО "ФриЗ", 17534, г. Москва, улица Чертановская д47 корп 2<BR></FONT></TD>
		<TD COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(3)</FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-left: 2px solid #000000;padding-left: 5px;" COLSPAN=26 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Грузополучатель и его адрес</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000" COLSPAN=58 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>
		<% if @company2 !=nil%>
		<%= @company2.fulltitle if @company2 !=nil%>, <%= @company2.uraddress if @company2 !=nil%>
<%else%>
		<%= @invoice_list.company.fulltitle if @invoice_list.company !=nil %> <%= @invoice_list.company.uraddress if @invoice_list.company !=nil%>
<%end%><BR></FONT></TD>
		<TD COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(4)</FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-left: 2px solid #000000;padding-left: 5px;" COLSPAN=26 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>К платежно-расчетному документу</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000" COLSPAN=6 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>N <% @invoice_list.invoice.banks.each do |iib|%><%= iib.number%></FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=4 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=8 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>от <%= iib.date.strftime("%d / %m / %Y")%><%end%></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000" COLSPAN=40 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(5)</FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-left: 2px solid #000000;padding-left: 5px;" COLSPAN=26 ALIGN="LEFT" SDNUM="1049;0;@"><B><FONT FACE="Times New Roman" SIZE=1>Покупатель</FONT></B></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=58 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><%= @invoice_list.company.fulltitle if @invoice_list.company !=nil %><BR></FONT></TD>
		<TD COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(6)</FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-left: 2px solid #000000;padding-left: 5px;" COLSPAN=26 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Адрес</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000" COLSPAN=58 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><%= @invoice_list.company.uraddress if @invoice_list.company !=nil%><BR></FONT></TD>
		<TD COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(6а)</FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-left: 2px solid #000000;padding-left: 5px;" COLSPAN=26 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>ИНН/КПП покупателя</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000" COLSPAN=58 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><%= @invoice_list.company.inn if @invoice_list.company !=nil%> / <%= @invoice_list.company.kpp if @invoice_list.company !=nil%><BR></FONT></TD>
		<TD COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(6б)</FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-left: 2px solid #000000;padding-left: 5px;" COLSPAN=26 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Валюта: наименование, код</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000" COLSPAN=58 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Российский рубль, 643<BR></FONT></TD>
		<TD COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(7)</FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-right: 1px solid #000000" COLSPAN=8 HEIGHT="7" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-left: 2px solid #000000" COLSPAN=77 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=2 ROWSPAN=2 HEIGHT="106" ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>N п/п</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000" COLSPAN=6 ROWSPAN=2 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Код товара/ работ, услуг</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000" COLSPAN=24 ROWSPAN=2 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Наименование товара (описание выполненных работ, оказанных услуг), имущественного права</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=7 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Единица измерения</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=4 ROWSPAN=2 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Коли-<BR>чество (объем)</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=5 ROWSPAN=2 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Цена (тариф) за единицу измерения</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=7 ROWSPAN=2 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Стоимость товаров <BR>(работ, услуг), имущественных прав без налога - всего</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=4 ROWSPAN=2 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>В том числе сумма акциза</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=4 ROWSPAN=2 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Нало-<BR>говая ставка</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=6 ROWSPAN=2 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Сумма налога, предъявляемая покупателю</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=7 ROWSPAN=2 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Стоимость товаров <BR>(работ, услуг), имущественных прав с налогом - всего</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=11 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Страна происхождения товара</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=6 ROWSPAN=2 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Номер таможенной декларации</FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=4 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>код</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=3 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>условное обозначение (национальное)</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=4 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Цифро-<BR>вой код</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=7 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Краткое наименование</FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=2 HEIGHT="18" ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>А</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000" COLSPAN=6 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Б</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000" COLSPAN=24 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>1</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=4 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>2</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=3 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>2а</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=4 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>3</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=5 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>4</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=7 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>5</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=4 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>6</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=4 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>7</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=6 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>8</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=7 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>9</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=4 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>10</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=7 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>10а</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=6 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>11</FONT></TD>
		</TR>
		<% @invoice_list.invoice_list_items.each_with_index do |ili, i| %>
		<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=2 HEIGHT="18" ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><%= (i+1) %></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000" COLSPAN=6 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><%=ili.product.sku%></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000" COLSPAN=24 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><%=ili.title%>-<%=ili.product.short_description.at(0..17)%></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=4 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>796</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=3 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>шт.</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=4 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><%= ili.quantity%></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=5 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><%=((ili.sum*100/118).to_f.round(2)/ili.quantity).to_f.round(2)%> </FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=7 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><%=(ili.sum*100/118).to_f.round(2)%></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=4 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>без акциза</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=4 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>18%</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=6 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><%=(ili.sum.to_f.round(2)- (ili.sum*100/118).to_f.round(2)).to_f.round(2)%></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=7 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><%=ili.sum.to_f.round(2)%></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=4 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=7 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=6 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1></FONT></TD>
		</TR>
		<%end%>
<!-- конец перечня товаров -->
	<TR>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=2 HEIGHT="19" ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000" COLSPAN=6 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 2px solid #000000; border-right: 1px solid #000000" COLSPAN=24 ALIGN="LEFT" VALIGN=MIDDLE SDNUM="1049;0;@"><B><FONT FACE="Times New Roman" SIZE=1>Всего к оплате</FONT></B></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=4 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=3 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=4 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;#&nbsp;##0"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=5 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;#&nbsp;##0,00"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=7 ALIGN="CENTER" VALIGN=MIDDLE SDVAL="0" SDNUM="1049;0;#&nbsp;##0,00"><FONT FACE="Times New Roman" SIZE=1><%=(@invoice_list.total_price*100/118).to_f.round(2)%></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=8 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;#&nbsp;##0,00"><FONT FACE="Times New Roman" SIZE=1>Х</FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=6 ALIGN="CENTER" VALIGN=MIDDLE SDVAL="0" SDNUM="1049;0;#&nbsp;##0,00"><FONT FACE="Times New Roman" SIZE=1><%=(@invoice_list.total_price - (@invoice_list.total_price*100/118).to_f.round(2)).to_f.round(2)%></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=7 ALIGN="CENTER" VALIGN=MIDDLE SDVAL="0" SDNUM="1049;0;#&nbsp;##0,00"><FONT FACE="Times New Roman" SIZE=1><%=@invoice_list.total_price.to_f.round(2)%></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=4 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=7 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" COLSPAN=6 ALIGN="CENTER" VALIGN=MIDDLE SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000" COLSPAN=8 HEIGHT="7" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-left: 2px solid #000000" COLSPAN=77 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		</TR>
	<TR>
		<TD COLSPAN=8 HEIGHT="15" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Документ составлен на </FONT></TD>
		<TD STYLE="border-left: 2px solid #000000" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=27 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Руководитель организации <BR>или иное уполномоченное лицо</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=6 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=10 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Эмексизов П.А.<BR></FONT></TD>
		<TD COLSPAN=18 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Главный бухгалтер <BR>или иное уполномоченное лицо</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=6 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=15 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Эмексизов П.А.<BR></FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=3 HEIGHT="10" ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=5 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1> листах</FONT></TD>
		<TD STYLE="border-left: 2px solid #000000" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=27 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=6 ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(подпись)</FONT></TD>
		<TD ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=10 ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(ф.и.о.)</FONT></TD>
		<TD COLSPAN=18 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=6 ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(подпись)</FONT></TD>
		<TD ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=15 ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(ф.и.о.)</FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-right: 1px solid #000000" COLSPAN=8 HEIGHT="10" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-left: 2px solid #000000" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=22 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Индивидуальный предприниматель</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=6 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=15 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=3 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=35 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-right: 1px solid #000000" COLSPAN=8 HEIGHT="10" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-bottom: 2px solid #000000; border-left: 2px solid #000000" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-bottom: 2px solid #000000" COLSPAN=22 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-bottom: 2px solid #000000" COLSPAN=6 ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(подпись)</FONT></TD>
		<TD STYLE="border-bottom: 2px solid #000000" ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-bottom: 2px solid #000000" COLSPAN=15 ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(ф.и.о.)</FONT></TD>
		<TD STYLE="border-bottom: 2px solid #000000" COLSPAN=3 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000; border-bottom: 2px solid #000000" COLSPAN=43 ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(реквизиты свидетельства о государственной регистрации индивидуального предпринимателя)</FONT></TD>
		</TR>
	<TR>
		<TD COLSPAN=85 HEIGHT="7" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		</TR>
	<TR>
		<TD COLSPAN=22 HEIGHT="10" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Основание передачи (сдачи) / получения (приемки)</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=80 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>[8]</FONT></TD>
		</TR>
	<TR>
		<TD COLSPAN=22 HEIGHT="10" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000" COLSPAN=80 ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(договор; доверенность и др.)</FONT></TD>
		<TD COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		</TR>
	<TR>
		<TD COLSPAN=16 HEIGHT="10" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Данные о транспортировке и грузе</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=86 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>[9]</FONT></TD>
		</TR>
	<TR>
		<TD COLSPAN=16 HEIGHT="10" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000" COLSPAN=86 ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(транспортная накладная, поручение экспедитору, экспедиторская / складская расписка и др. / масса нетто/ брутто груза, если не приведены ссылки на транспортные документы, содержащие эти сведения)</FONT></TD>
		<TD COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-right: 1px solid #000000" COLSPAN=50 HEIGHT="18" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Товар (груз) передал / услуги, результаты работ, права сдал</FONT></TD>
		<TD STYLE="border-left: 1px solid #000000" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=50 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Товар (груз) получил / услуги, результаты работ, права принял </FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=13 HEIGHT="10" ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=18 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=14 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Эмексизов П.А.<BR></FONT></TD>
		<TD STYLE="border-right: 1px solid #000000" COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>[10]</FONT></TD>
		<TD STYLE="border-left: 1px solid #000000" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=13 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=18 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=14 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>[15]</FONT></TD>
		</TR>
	<TR>
		<TD COLSPAN=13 HEIGHT="10" ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(должность)</FONT></TD>
		<TD ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=18 ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(подпись)</FONT></TD>
		<TD ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=14 ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(ф.и.о.)</FONT></TD>
		<TD STYLE="border-right: 1px solid #000000" COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-left: 1px solid #000000" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=13 ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(должность)</FONT></TD>
		<TD ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=18 ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(подпись)</FONT></TD>
		<TD ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=14 ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(ф.и.о.)</FONT></TD>
		<TD COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		</TR>
	<TR>
		<TD COLSPAN=23 HEIGHT="10" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Дата отгрузки, передачи (сдачи)</FONT></TD>
		<TD ALIGN="RIGHT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>&quot;</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=2 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><%=@invoice_list.date.strftime("%d")%><BR></FONT></TD>
		<TD ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>&quot;</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=6 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><%=@invoice_list.date.strftime("%m")%><BR></FONT></TD>
		<TD COLSPAN=2 ALIGN="RIGHT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1></FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=2 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><%=@invoice_list.date.strftime("%Y")%><BR></FONT></TD>
		<TD COLSPAN=10 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>г.</FONT></TD>
		<TD STYLE="border-right: 1px solid #000000" COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>[11]</FONT></TD>
		<TD STYLE="border-left: 1px solid #000000" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=23 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Дата получения (приемки)</FONT></TD>
		<TD ALIGN="RIGHT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>&quot;</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=2 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>&quot;</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=6 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=2 ALIGN="RIGHT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>20</FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=2 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=12 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>г.</FONT></TD>
		<TD COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>[16]</FONT></TD>
		</TR>
	<TR>
		<TD COLSPAN=47 HEIGHT="10" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Иные сведения об отгрузке, передаче</FONT></TD>
		<TD STYLE="border-right: 1px solid #000000" COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-left: 1px solid #000000" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=47 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Иные сведения о получении, приемке</FONT></TD>
		<TD COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=47 HEIGHT="10" ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-right: 1px solid #000000" COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>[12]</FONT></TD>
		<TD STYLE="border-left: 1px solid #000000" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=47 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>[17]</FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000" COLSPAN=47 HEIGHT="10" ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(ссылки на неотъемлемые приложения, сопутствующие документы, иные документы и т.п.)</FONT></TD>
		<TD STYLE="border-right: 1px solid #000000" COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-left: 1px solid #000000" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000" COLSPAN=47 ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(информация о наличии/отсутствии претензии; ссылки на неотъемлемые приложения, и другие  документы и т.п.)</FONT></TD>
		<TD COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		</TR>
	<TR>
		<TD COLSPAN=47 HEIGHT="10" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Ответственный за правильность оформления факта хозяйственной жизни</FONT></TD>
		<TD STYLE="border-right: 1px solid #000000" COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-left: 1px solid #000000" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=47 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Ответственный за правильность оформления факта хозяйственной жизни</FONT></TD>
		<TD COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=13 HEIGHT="10" ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=18 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=14 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Эмексизов П.А.<BR></FONT></TD>
		<TD STYLE="border-right: 1px solid #000000" COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>[13]</FONT></TD>
		<TD STYLE="border-left: 1px solid #000000" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=13 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=18 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=14 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>[18]</FONT></TD>
		</TR>
	<TR>
		<TD COLSPAN=13 HEIGHT="10" ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(должность)</FONT></TD>
		<TD ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=18 ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(подпись)</FONT></TD>
		<TD ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=14 ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(ф.и.о.)</FONT></TD>
		<TD STYLE="border-right: 1px solid #000000" COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-left: 1px solid #000000" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=13 ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(должность)</FONT></TD>
		<TD ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=18 ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(подпись)</FONT></TD>
		<TD ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=14 ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(ф.и.о.)</FONT></TD>
		<TD COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		</TR>
	<TR>
		<TD COLSPAN=47 HEIGHT="10" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Наименование экономического субъекта – составителя документа (в т.ч. комиссионера / агента)</FONT></TD>
		<TD STYLE="border-right: 1px solid #000000" COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-left: 1px solid #000000" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=47 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>Наименование экономического субъекта - составителя документа</FONT></TD>
		<TD COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=47 HEIGHT="18" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-right: 1px solid #000000" COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>[14]</FONT></TD>
		<TD STYLE="border-left: 1px solid #000000" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-bottom: 1px solid #000000" COLSPAN=47 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>[19]</FONT></TD>
		</TR>
	<TR>
		<TD STYLE="border-top: 1px solid #000000" COLSPAN=47 HEIGHT="10" ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(может не заполняться при проставлении печати в М.П., может быть указан ИНН / КПП)</FONT></TD>
		<TD STYLE="border-right: 1px solid #000000" COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-left: 1px solid #000000" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-top: 1px solid #000000" COLSPAN=47 ALIGN="CENTER" VALIGN=TOP SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>(может не заполняться при проставлении печати в М.П., может быть указан ИНН / КПП)</FONT></TD>
		<TD COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		</TR>
	<TR>
		<TD COLSPAN=13 HEIGHT="10" ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>М.П.</FONT></TD>
		<TD COLSPAN=34 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-right: 1px solid #000000" COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD STYLE="border-left: 1px solid #000000" ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=13 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1>М.П.</FONT></TD>
		<TD COLSPAN=34 ALIGN="LEFT" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		<TD COLSPAN=3 ALIGN="CENTER" SDNUM="1049;0;@"><FONT FACE="Times New Roman" SIZE=1><BR></FONT></TD>
		</TR>
</TABLE>
</div>