<p id="notice"><%= notice %></p>
<div class="col-md-12">
	<div class="col-md-8">
	<h1>Информация о накладной <%= @invoice_list.number %></h1>
	
	<p>
	  <strong>Date:</strong>
	  <%= @invoice_list.date.strftime("%d / %m / %Y")  %>
	</p>
	<p>
	  <strong>Client:</strong>
	  <%= @invoice_list.client.surname %> <%= @invoice_list.client.name %>
	</p>
	
	<p>
	  <strong>Company:</strong>
	  <%= @invoice_list.company.title if @invoice_list.company !=nil%>
	</p>
	<p>
	  <strong>Companytwo:</strong>
	  <%= @company2.title if @company2 !=nil %>
	</p>
	</div>
	
	<div class="col-md-4">
	<div class="col-md-12">
	  <strong>Status:</strong>
	  <%= @invoice_list.status %>
	</div>
	<div class="col-md-12">
	  <strong>Накладная:</strong>
	  <% if @invoice_list.invoiceout_check == true%>
	  <%= "Проведена" %>
	  <%else %>
	  <%= "Не проведена" %> 
	  <%end%>
	</div>
	</div>
</div>

<div class="col-md-12">
<div class="col-md-8">
<strong>Информация о товарах в заказе</strong>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Sum</th>
    </tr>
  </thead>

  <tbody>
    <% @invoice_list.invoice_list_items.each do |pr| %>
      <tr>
        <td><%=link_to "#{pr.title}", pr.product %></td>
        <td><%= pr.quantity %></td>
        <td><%= pr.price %></td>
        <td><%= pr.sum %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="col-md-4" style="margin-top:40px;">
<p>
  <strong>Discount:</strong>
<%= @invoice_list.discount %> %
</p>

<p>
  <strong>Total Price:</strong>
  <%= @invoice_list.total_price %>
</p>

</div>
</div>


<div class="col-md-12">
<%= link_to t('edit'), edit_invoice_list_path(@invoice_list), class: 'btn btn-default btn-sm' %> 
<%= link_to t('back'), invoice_lists_path, class: 'btn btn-default btn-sm' %>
<%= link_to t('.upd'), print_invoice_list_path(@invoice_list), target: :_blank, class: 'btn btn-success btn-sm' %>
<%= link_to t('.nakl'), nakl_invoice_list_path(@invoice_list), target: :_blank, class: 'btn btn-success btn-sm' %>
<%= link_to t('.garant_print'), garant_invoice_list_path(@invoice_list), target: :_blank, class: 'btn btn-success btn-sm' %>

</div>




