<p id="notice"><%= notice %></p>

<p>
  <strong>Cid:</strong>
  <%= @citilink.cid %>
</p>

<p>
  <strong>Title:</strong>
  <%= @citilink.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @citilink.price %>
</p>

<p>
  <strong>Price1:</strong>
  <%= @citilink.price1 %>
</p>

<p>
  <strong>Priceusd:</strong>
  <%= @citilink.priceusd %>
</p>

<p>
  <strong>Q1:</strong>
  <%= @citilink.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @citilink.q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @citilink.q3 %>
</p>

<p>
  <strong>Q4:</strong>
  <%= @citilink.q4 %>
</p>

<p>
  <strong>Q5:</strong>
  <%= @citilink.q5 %>
</p>

<%= link_to 'Edit', edit_citilink_path(@citilink) %> |
<%= link_to 'Back', citilinks_path %>
