<div class='nested-fields order_line_fields'>
    <%= f.association :product %>
    <%= f.input :quantity, as: :integer %>
    <%= f.input :price, as: :decimal %>
    <%= f.input :sum, as: :decimal %>
    <%= link_to_remove_association "remove line", f %>
</div>