<p id="notice"><%= notice %></p>

<p>
  <strong> order number:</strong>
  <%= @order.order_number %>
</p>

<p>
  <strong>Order status:</strong>
  <%= @order.order_status %>
</p>

<p>
  <strong>Order payment status:</strong>
  <%= @order.order_payment_status %>
</p>


<strong>Products</strong>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
          </tr>
  </thead>

  <tbody>
  <% @order.order_lines.each do |ol| %>
        <tr>
        <td><%= ol.title %></td>
 </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
