<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style = "background: white; margin: 50px;padding: 15px;"></div>
<%= simple_form_for(@invoice, :remote => true) do |f| %>
  <%= f.error_notification %>
<div class="col-md-12">
	<div class="col-md-8">
		<div class="col-md-12">
			<div class="col-md-2">
			    <%= f.input :number %>
			</div>
			<div class="col-md-3">
<!--
				<% if !@invoice.date.nil? %>
			    <%= f.input :date, as: :string , :input_html => { :value => @invoice.date.strftime("%d/%m/%Y") } %>
			    <%else%>
			    <%= f.input :date, as: :string %>
			    <%end%>
-->
	<%= f.input :date, as: :date, html5: true%>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-3">
			<%= f.association :client, collection: Client.order('name ASC') %>
			</div>			
			<div class="col-md-3">
 			 <%= f.input :company_title, as: :autocomplete, url:  autocomplete_company_title_invoices_path, input_html: { 'data-id-element' => '#invoice_company_id' }  %>
			 <%= f.input :company_id, as: :hidden %>
			 <p><%= link_to t('invoices.add_company'), new_company_path,  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' , class: 'btn btn-default btn-xs'  %></p>
			 </div>
			 <div class="col-md-3">
			<%= f.input :company_title, as: :autocomplete, :label => t('invoices.company_receiver'), url:  autocomplete_company_title_invoices_path, input_html: { 'data-id-element' => '#invoice_companytwo' }  %>
			<%= f.input :companytwo, as: :hidden %>
			</div>
		</div>
	</div>
	
	<div class="col-md-4">
		<div class="col-md-8">
			<div class="col-md-12">
			    <%= f.input :invstatus, collection: [ "Новый", "В работе", "Оплачен"] %>
			</div>
			<div class="col-md-12">
	<%if @invoice.invoice_lists.blank?%>
	<%= f.input :invoice_list_check,  input_html: { checked: "false" } %>
	<%else%>
	<%= f.input :invoice_list_check %>
	<%end%>

			</div>
		</div>
	</div>
</div>
	<div class="col-md-12" style="border-top:1px solid #ddd;">
	<div class='links'>
		<%= link_to_add_association t('add_item'), f, :invoice_items, 'data-association-insertion-node' => "#invoice_items", 'data-association-insertion-method' => "append" %>
		</div>
		<div class="col-md-8" style="margin-top:20px;">
		<table class="table table-hover" id="invoice_items">
		  <thead>
		    <tr>
		      <th><%= t 'item_title' %></th>
		      <th><%= t 'item_quantity' %></th>
		      <th><%= t 'item_price' %></th>
		      <th><%= t 'item_sum' %></th>
			<th colspan="1"></th>
		    </tr>
		  </thead>
			<%= f.simple_fields_for :invoice_items do |invoice_item| %>
			<%= render 'invoice_item_fields', :f => invoice_item %>
			<% end %>
		   
		</table>	
	</div>
	
<div class="col-md-4" style="margin-top:20px;">
	<div class="col-md-12">
	<div class="col-md-5" >
	<%= f.input :discount, as: :integer, input_html: {onchange: "calculateInvoice(this.value)"} %>
	<%= f.input :total_price, hint: 'учесть доставку' %> 
	</div>
	<div class="col-md-7">
	<p>
		<%if !@invoice.nil? %>
		<strong><%=t 'invoices.order_total'%></strong> - <%=@invoice.iorder.total_price if !@invoice.iorder.nil?%>
		<%=t 'invoices.order_delivery'%> - <span class="delivery"><%=@invoice.iorder.deliveryprice if !@invoice.iorder.nil?%></span>
		<%end%>
	</p>
	</div>
	</div>
	
	<div class="col-md-12">
	<%= link_to t('back'), invoices_path, class: 'btn btn-default btn-sm'  %>
	<%= f.button :submit,  :remote => true, 'data-toggle' =>  "modal", 'data-target' => "#modal-window", class: 'btn btn-primary btn-sm' %>
	<!--<%= link_to t('show'), @invoice, class: 'btn btn-default btn-sm'  %>-->
	</div>
	</div>
</div>

</div>    

<% end %>
</div>
