<tr class="nested-fields", data-remove-timeout  >

  <td><%= f.input :title, as: :autocomplete, url: autocomplete_product_title_iorders_path, label: false, input_html: { 'data-id-element' => '#iorder_product_id' } %></td>
  <td><%= f.input :quantity, label: false, as: :integer, input_html: { class: 'myquantity', onchange: "calculateInvoice(this.value)"}  %></td>
  <td><%= f.input :price,label: false, as: :decimal, input_html: { class: 'myprice', onchange: "calculateInvoice(this.value)" }  %></td>
  <td><%= f.input :sum, label: false, as: :decimal , input_html: { class: 'sum', onchange: "calculateInvoice(this.value)" } %></td>
  <td><%= link_to_remove_association t('remove'), f %></td>
