<script>
  $( document ).ready(function() {

  $('#sight').click(function(){
  if (this.checked){
    $('.pechat').show();
    $('.podpis').show();
	document.getElementById("sightbottom").checked = true;
    
    document.getElementById("sight").checked = true;
    document.getElementById("sight").value = 1;

  } else {
    $('.pechat').hide();
    $('.podpis').hide();
	document.getElementById("sightbottom").checked = false;
    
    document.getElementById("sight").checked = false;
    document.getElementById("sight").value = 0;

  }
});

  });  

</script>
<div class="print_block" style="float: right; margin-bottom: 20px;">
<%= check_box_tag 'sight', '0', false%> Показать печать и подпись
<br>
<%= link_to "Напечатать c печатью", print_invoice_path(:format => :pdf), {class: 'btn btn-success btn-xs'} %>
<%= link_to "Напечатать без печати", pdf_invoices_path(:invoice_id => @invoice.id, :format => :pdf), {class: 'btn btn-success btn-xs'} %>
</div>
<head>
<title>Счёт <%= @invoice.number %></title>
</head>
<body>
<style>
  /*<![CDATA[*/
  	.header, .myfooter {display: none;}
    body  {
      font-size: 12px; color: #000;
      background-color: #fff;
      font-family: sans-serif;
      margin: 30px;
      width: 750px;
    }
    table { border-spacing: 0px; font-size: 12px; }
    .clear {clear:both; margin:2px 0px; height:5px;}
    .border {
      border-bottom:1px solid black;
      padding-bottom:0;
     }
    .accent {font-size: 13px; font-weight: bold;}
    .bold {font-weight: bold;}
    .borders_table {width: 100%; border-collapse: collapse;}
    .borders_table, .borders_table  td, .products_table th {border: 1px solid #999; }
    .page_break { display:block; clear:both; page-break-after:always; }
    h2 {font-size:15px;}
  /*]]>*/
</style>
<div style='width:750px'>
<p>
<small><p>Счет действителен в течении 2 дней.</p></small>
</p>
<h3 class='border' style='margin-bottom:40px; display:inline;'>ООО &quot;ФриЗ&quot;</h3>
<div class='small' style='margin-top:10px'>117534, г. Москва, улица Чертановская д47 корп 2</div>
<center style='margin-top:40px'>
<h3>Образец заполнения платежного поручения</h3>
</center>
<table class='borders_table' style='width:750px'>
<tr>
<td width='150'>ИНН 7726561249</td>
<td width='150'>КПП 772601001</td>
<td style='border-bottom:0'></td>
<td style='border-bottom:0'></td>
</tr>
<tr>
<td colspan='2'>
<p>Получатель<br>ООО &quot;ФриЗ&quot;</p>
</td>
<td align='center' style='border-top:0' valign='bottom'>Сч. №</td>
<td style='border-top:0' valign='bottom'>40702810097540000082</td>
</tr>
<tr>
<td colspan='2' style='border-bottom:0'>Банк получателя</td>
<td align='center'>БИК</td>
<td style='border-bottom:0'>044583272</td>
</tr>
<tr>
<td colspan='2' style='border-top:0'>Московский филиал ОАО АКБ ”РОСБАНК” г. Москва</td>
<td align='center'>Сч. №</td>
<td style='border-top:0'>30101810000000000272</td>
</tr>
</table>
<center style='margin-top:40px'>
<h2>СЧЕТ № <%= @invoice.number %> от <%= @invoice.created_at.strftime("%d / %m / %Y")%></h2>
</center>
<p style='margin-top:30px;'>Плательщик:
<span style='margin-left: 27px'>
<%= @invoice.company.fulltitle if @invoice.company !=nil %> <%= @invoice.company.uraddress if @invoice.company !=nil%> ИНН<%= @invoice.company.inn if @invoice.company !=nil%> КПП <%= @invoice.company.kpp if @invoice.company !=nil%>
</span>
</p>
<p>
Грузополучатель:
<span>
<% if @company2.nil?%>
<%= @invoice.company.fulltitle if @invoice.company !=nil %> <%= @invoice.company.uraddress if @invoice.company !=nil%> ИНН<%= @invoice.company.inn if @invoice.company !=nil%> КПП <%= @invoice.company.kpp if @invoice.company !=nil%>
<%else%>
<%= @company2.fulltitle if @company2 !=nil%>, <%= @company2.uraddress if @company2 !=nil%>,  ИНН  <%@company2.inn if @company2 !=nil%>,  КПП  <%@company2.kpp if @company2 !=nil%>
<%end%>
</span>
</p>
<table class='borders_table products_table' style='width:750px; margin-top: 20px'>
<tr>
	<th align='left'>№</th>
		<th>Артикул</th>
		<th>Наименование товара<br>(выполненных работ, оказанных услуг)</th>
		<th>Единица измерения</th>
		<th>Количество</th>
		<th>Цена</th>
		<th>Сумма</th>
	</tr>
<tr>
 <% @invoice.invoice_items.each_with_index do |pr, i| %>
<td align='center'><%= (i+1) %></td>
<td align="center"><%=pr.product.sku%></td>
<td><%=pr.title%> - <%=pr.product.short_description.at(0..15)%></td>
<td align='center'>шт</td>
<td align='center'><%= pr.quantity%></td>
<td align='right'><%= pr.price%></td>
<td align='right'><%= pr.sum%></td>
</tr>
 <% end %>
</table>
<table align='right'>
<tr>
<td align='right' width='120'>
<b>Итого</b>
</td>
<td align='right' width='80'><%= @invoice.invoice_items.sum(:sum)%></td>
</tr>
<tr>
<td align='right' width='120'>
<b>Скидка</b>
</td>
<td align='right' width='80'><%= @skidka%></td>
</tr>
<tr>
<td align='right' width='120'>
<!--<b>Доставка</b>-->
</td>
<td align='right' width='80'><!--< @invoice.deliveryprice >--></td>
</tr>
<tr>
<td align='right' width='120'>
<b>НДС 18%</b>
</td>
<td align='right' width='80'><%= @nds%></td>
</tr>
<tr>
<td align='right' width='120'>
<b>Всего к оплате</b>
</td>
<td align='right' width='80'><%= @invoice.total_price%></td>
</tr>
</table>
<div style='clear:both'></div>
<p>
<b>
Всего наименований: <%= @invoice.invoice_items.count%>
</b>
<br>
<b>
Всего к оплате: <% if @invoice.total_price.nil?%><%= RuPropisju.rublej(0)%><% else %><%= RuPropisju.rublej(@invoice.total_price )%> <%end%>.
</b>
<b>
НДС: <%= RuPropisju.rublej(@nds)%>
</b>
</p>
<div style='height:60px; position:relative;margin-top:40px;'>
<p style="float: left;">
	<span style='display: inline-block; min-width: 150px; text-align: left;'>
	Генеральный директор
	</span>
</p>
<div class="podpis" style="float: left; margin-top: -20px; display: none;"><%= image_tag("podpis.png", :height =>'60') %> 
<span style='border-bottom: 1px solid; margin-left: -120px; padding-left: 20px; display: inline-block; min-width: 120px; position: relative; top: 2px;'></span>
</div>
<p style="float: left;padding-left: 30px">
	 /  Эмексизов П.А.  /
</p>
</div>
<div style='height:60px; position:relative;'>
<p style="float: left;">
	<span style='display: inline-block; min-width: 150px; text-align: left;'>
Главный бухгалтер
	</span>
</p>

<div class="podpis" style="float: left;margin-top: -20px; display: none;"><%= image_tag("podpis.png", :height =>'60') %> 
<span style='border-bottom: 1px solid; margin-left: -120px; padding-left: 20px; display: inline-block; min-width: 120px; position: relative; top: 2px; '></span>
</div>
<p style="float: left;padding-left: 30px">
/ Эмексизов П.А./
</p>
</div>
<div class="pechat" style="float: left; padding-left: 50px;margin-top: -80px; display: none;"><%= image_tag("pechat.png", :height =>'160') %></div>
</div>
</body>
<div class="print_block" style="float: right; margin-bottom: 20px;">
<%= check_box_tag 'sightbottom', '0', false%> Показать печать и подпись
<br>
<%= link_to "Напечатать c печатью", print_invoice_path(:format => :pdf), {class: 'btn btn-success btn-xs'} %>
<%= link_to "Напечатать без печати", pdf_invoices_path(:invoice_id => @invoice.id, :format => :pdf), {class: 'btn btn-success btn-xs'} %>
</div>