<p id="notice"><%= notice %></p>
<div class="col-md-12" style="margin-bottom:20px;">
	<div class="col-md-12">
		<div class="col-md-2">
			<h1>Наш склад </br><small>сводная таблица</small></h1>
		</div>
		<div class="col-md-2">
		</div>
		
		<div class="col-md-8">
			<%= t '.period' %>
		<%= search_form_for @q, class: 'form-inline'  do |f|%>
		<%= f.date_field :stocks_created_at_gteq, class: "form-control input-sm"%>
		<%= f.date_field :stocks_created_at_lteq, class: "form-control input-sm" %>
		<%= f.submit t('search'), class:"btn btn-success  btn-sm"%>
		<% end %>
		</div>
		
	<div class="col-md-12">
		<div class="col-md-8">
		<!-- link_to 'Оприходование', new_store_path -->
		</div>
	</div>
</div>

<div class="col-md-12">
<div class="media">
  <div class="media-body">
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t '.product_title' %></th>
      <th><%= t '.prihod' %></th>
      <th><%= t '.rashod' %></th>
      <th>Возврат</th>
      <th><%= t '.quantity' %></th>
      <th>Ср вх Ц</th>
      <th>Ср исх Ц</th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td id="<%= store.id %>"><%= store.title %></td>
        <td><% purchase_prihod = store.stocks.where("purchase_list_id IS NOT ? and created_at >= ? and created_at <= ?", nil, @startdate, @enddate)%>
        <% enter_prihod = store.stocks.where("enter_id IS NOT ? and created_at >= ? and created_at <= ?", nil, @startdate, @enddate)%>
        <% vozvrat = store.stocks.where("vozvrat_id IS NOT ? and created_at >= ? and created_at <= ?", nil, @startdate, @enddate)%>
        <% b1 = purchase_prihod.sum(:quantity).to_i+ enter_prihod.sum(:quantity).to_i %>
        <%=b1%> 
        </td>
        <td><% invoice_rashod = store.stocks.where("invoice_list_id IS NOT ? and created_at >= ? and created_at <= ?", nil, @startdate, @enddate) %>
        <% loss_rashod = store.stocks.where("loss_id IS NOT ? and created_at >= ? and created_at <= ?", nil, @startdate, @enddate) %>
        <% c1 = invoice_rashod.sum(:quantity).to_i + loss_rashod.sum(:quantity).to_i %>
        <%=c1%> 
        </td>
        <td><%= vozvrat = store.stocks.where("vozvrat_id IS NOT ? and created_at >= ? and created_at <= ?", nil, @startdate, @enddate).sum(:quantity).to_i%></td>
        <td><!-- a = b1 - c1--> <%= store.quantity %></td>
        <td class="pricein"><%= store.pricein%></td>
        <td class="price"><%= store.price%></td>
<!--
        <td><%= link_to 'Show', store %></td>
        <td><%= link_to 'Edit', edit_store_path(store) %></td>
        <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-->
      </tr>
    <% end %>
    <tr>
	      <td colspan="5"></td>
	      <td id="totalPricein" style="font-weight: bold;"></td>
	      <td id="totalPrice" style="font-weight: bold;"></td>
      </tr>
  </tbody>
</table>
<%= will_paginate @stores %>
  </div>
</div>
</div>
</div>
