<p id="notice"><%= notice %></p>
<div class="col-md-12" style="margin-bottom:20px;">
	<div class="col-md-12">
		<div class="col-md-2">
			<h1>Наш склад </br><small>сводная таблица</small></h1>
		</div>
		<div class="col-md-3">
		</div>
		
		<div class="col-md-7">
		<%= search_form_for @search, url: search_stores_path,  method: :post do |f|%>
		
			<div class="input-daterange">
				<div class="col-md-4">
				<%= f.text_field :updated_at_gteq, class: "form-control input-sm", 'data-provide' => 'datepicker', 'data-date-format'=>"mm/dd/yyyy"  %>
				</div>
				<div class="col-md-4 ">
				<%= f.text_field :updated_at_lteq, class: "form-control input-sm", 'data-provide' => 'datepicker', 'data-date-format'=>"mm/dd/yyyy"   %>
				</div>
			</div>
			
			<div class="col-md-2 form-actions">
			<%= f.submit "search", class:"btn btn-success"%>
			</div>
			<% end %>
		</div>
		
	<div class="col-md-12">
		<div class="col-md-8">
		<!-- link_to 'Оприходование', new_store_path -->
		</div>
	</div>
</div>

<div class="col-md-12">
<div class="media">
  <div class="media-body">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Product</th>
      <th>Приход</th>
      <th>Расход</th>
      <th>Quantity</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.title %></td>
        <td><% purchase_prihod = store.stocks.where("purchase_list_id IS NOT ?", nil)%>
        <% enter_prihod = store.stocks.where("enter_id IS NOT ?", nil)%>
        <% b1 = purchase_prihod.sum(:quantity).to_i+ enter_prihod.sum(:quantity).to_i%><%=b1%>
        </td>
        <td><% invoice_rashod = store.stocks.where("invoice_list_id IS NOT ?", nil) %>
        <% loss_rashod = store.stocks.where("loss_id IS NOT ?", nil) %>
        <% c1 = invoice_rashod.sum(:quantity).to_i + loss_rashod.sum(:quantity).to_i %><%=c1%>
        </td>
        <td><!-- a = "#{b1}".to_i - "#{c1}".to_i--><%= store.quantity %></td>
        <td><%= store.price %></td>
        <td><%= link_to 'Show', store %></td>
        <td><%= link_to 'Edit', edit_store_path(store) %></td>
        <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @stores %>
  </div>
</div>
</div>
</div>
