<div class="col-md-12">
<%= bootstrap_form_for(@homyproduct) do |f| %>
  <% if @homyproduct.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@homyproduct.errors.count, "error") %> prohibited this homyproduct from being saved:</h2>

      <ul>
      <% @homyproduct.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-md-12">
<div class="col-md-2">
  <div class="field">
    <%= f.text_field :artikul %>
  </div>
 </div>
  <!--<div class="field">
    <%= f.text_field :sku %>
  </div>-->
  <div class="col-md-4">
  <div class="field"> 
    <%= f.text_field :title %>
  </div>
  </div>
  <div class="col-md-2">
  <div class="field">
    <%= f.text_field :price %>
  </div>
  </div>
  <div class="col-md-2">
  <div class="field">
    <%= f.text_field :valuta %>
  </div>
  </div>
  <div class="col-md-12">
  <div class="col-md-1">
  <div class="field">
      <%= f.label "Статус"%>
      <p>Резерв</p><br>
      <p>Свободно</p>
   </div>
   </div>
   <div class="col-md-2">
  <div class="field">  	
  	  <%= f.label "Quantity all"%>
  	  <%= f.number_field :quantity_all_res, hide_label: true %>
  	  <%= f.number_field :quantity_all_free, hide_label: true %>
  	  </div>
  	  </div>
  <div class="col-md-2">
  <div class="field">
      <%= f.label "Quantity main"%>
      <%= f.number_field :quantity_main_res, hide_label: true %>
      <%= f.number_field :quantity_main_free, hide_label: true %>
      </div>
      </div>
   <div class="col-md-2">
  <div class="field">
      <%= f.label "Quantity tul"%>
      <%= f.number_field :quantity_tul_res, hide_label: true%>
      <%= f.number_field :quantity_tul_free, hide_label: true %>
      </div>
      </div>
   <div class="col-md-2">
  <div class="field">
      <%= f.label "Quantity transit"%>
      <%= f.number_field :quantity_transit_all, hide_label: true%>
      <%= f.number_field :quantity_transit_free, hide_label: true %>
  </div>
  </div>
  
  </div>
  <div class="col-md-12">
  	<div class="col-md-2">
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
  </div>
<% end %>
</div>