<p id="notice"><%= notice %></p>
<div class="col-md-12" style="margin-bottom:20px;">
	<div class="col-md-12">
		<div class="col-md-4">
			<h2>Премьер<br><small>сводная таблица</small></h2>
			<p id="product_option_id" style="display:none;">3</p>
			<p>Всего товаров - <%= @totalproducts %> | Товаров > 0  - <%= @homynotzero%></p>
		</div>
		<div class="col-md-3">
		<%= form_tag import_homyproducts_path, multipart: true do %><%= file_field_tag :file %>
		  <%= submit_tag "Import" , :class =>'btn btn-default btn-sm' %>
		<% end %>
		</div>
		<div class="col-md-5">
		<div class="col-md-12" style="margin-bottom: 5px;">
		<form class="form-inline">
	<%=t 'search_t'%>
		<%= search_form_for @search do |f|%>
  		<div class = "form-group">
  		<%= f.search_field :artikul_eq, placeholder: 'Sku', class: "form-control input-sm" %>  
  		<%= f.search_field :title_cont, placeholder: 'Названию', class: "form-control input-sm"  %>  
  		</div>
  		<%= f.submit "Search", class: 'btn btn-default btn-sm' %>
  		
		<% end %>
		</form>
		</div>


		</div>	
	</div>
<br>
	<div class="col-md-12">
		<div class="col-md-2">
		<p>Download: <%= link_to "CSV", homyproducts_path(format: "csv") %> | <%= link_to "Excel", homyproducts_path(format: "xls") %></p>

		</div>
</div>

<br>
<div class="col-md-12">
<div class="media">
  <div class="media-body">
<table class="table table-hover">
  <thead>
  <tr>
  <th colspan="4" ></th>
      <th colspan="2">Quantity free</th>
       <th colspan="5"></th>
    </tr>
    <tr>
    	<th>ID</th>
      <th>Artikul</th>
      <!--<th>SKU</th>-->
      <th>Title</th>
      <th>Valuta</th>
      <th style="border-left:2px solid #ddd;">Zel</th>
      <!--<th>Qt tul res</th>-->
      <th style="border-right:2px solid #ddd;">Tul</th>
      <!--<th>Trans</th>-->
      <!--<th>Qt trans free</th>-->
      <!--<th>Qt all res</th>-->
      <!--<th>Qt all free</th>-->
      <!--<th>Qt main res</th>-->
      <th>Price ($)</th>
      <th>Min price</th>
      <th>Sell price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homyproducts.each do |homyproduct| %>
      <tr>
      	<td class="id"><%= homyproduct.id %></td>
        <td><%= homyproduct.artikul %></td>
        <!--<td><%= homyproduct.sku %></td>-->
        <td><span data-toggle="popover" data-content="<%= homyproduct.title%>" data-placement="top" data-trigger="hover" ><%= homyproduct.title.truncate(30) if homyproduct.title !=nil%></span></td>
        <td><%= homyproduct.valuta %></td>
        <!--<td><%= homyproduct.quantity_all_res %></td>-->
        <!--<td><%= homyproduct.quantity_all_free %></td>-->
        <!--<td><%= homyproduct.quantity_main_res %></td>-->
        <td><%= homyproduct.quantity_main_free %></td>
        <!--<td><%= homyproduct.quantity_tul_res %></td>-->
        <td><%= homyproduct.quantity_tul_free %></td>
        <!--<td><%= homyproduct.quantity_transit_all %></td>-->
        <!--<td><%= homyproduct.quantity_transit_free %></td>-->
        <td><%= homyproduct.price %></td>
        <td><%= homyproduct.min_price %></td>
        <td><%= homyproduct.sell_price %></td>
        <td><%= link_to 'Show', homyproduct, class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Edit', edit_homyproduct_path(homyproduct), class: 'btn btn-success btn-xs' %></td>
        <td><%= link_to 'Destroy', homyproduct, method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure?' }  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @homyproducts %>
</div>
</div>
</div>



<!--<%= link_to 'New Homyproduct', new_homyproduct_path %>-->
