<p id="notice"><%= notice %></p>
<div class="col-md-12" style="margin-bottom:20px;">
	<div class="col-md-12">
		<div class="col-md-3">
			<h2>Цифровой ангел <br><small>сводная таблица</small></h2>
			<p>Всего товаров - <%= @totalproducts %></p>
		</div>
		<div class="col-md-3">
		<%= form_tag import_angels_path, multipart: true do %> <%= file_field_tag :file %><%= submit_tag "Import", :class =>'btn btn-default btn-sm'%>
		<% end %>
		</div>
		
		<div class="col-md-6">
		<div class="col-md-12">
		<form class="form-inline">
		<%= search_form_for @search do |f|%>
  		<div class = "form-group">
  		<%= f.search_field :sku_cont, placeholder: 'Sku', class: "form-control input-sm" %>  
  		<%= f.search_field :title_cont, placeholder: 'Названию', class: "form-control input-sm"  %>  
  		</div>
  		<%= f.submit "Search", class: 'btn btn-default btn-sm' %>
		<% end %>
		</form>
		</div>

		</div>	
	</div>
<br>
	<div class="col-md-12">
		<div class="col-md-2">
		<p>| Download: <%= link_to "CSV", angels_path(format: "csv") %> |<!-- <%= link_to "Excel", angels_path(format: "xls") %>--></p>

		</div>
</div>

<br>
<div class="col-md-12">
<div class="media">
  <div class="media-body">
<table class="table table-hover">
  <thead>
    <tr>
    	<th>Id</th>
      <th>Sku</th>
      <th>Title</th>
      <th>Quantity</th>
<!--       <th>Status</th> -->
      <th>Valuta</th>
      <th>Price</th>
      <th>Cost price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @angels.each do |angel| %>
      <tr>
      	<td class="angel_id"><%= angel.id %></td>
        <td><%= angel.sku %></td>
        <td><%= angel.title %></td>
        <td><%= angel.quantity %></td>
<!--         <td><%= angel.status %></td> -->
        <td><%= angel.valuta %></td>
        <td><%= angel.price %></td>
        <td><%= angel.cost_price %></td>
        <td><%= link_to 'Show', angel, class: 'btn btn-default btn-xs'  %></td>
        <td><%= link_to 'Edit', edit_angel_path(angel), class: 'btn btn-success btn-xs' %></td>
        <td><%= link_to 'Destroy', angel, method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure?' }  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>


<!--<%= link_to 'New Angel', new_angel_path %>-->
