<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @order_line.title %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_line.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order_line.price %>
</p>

<p>
  <strong>Sum:</strong>
  <%= @order_line.sum %>
</p>

<%= link_to 'Edit', edit_order_line_path(@order_line) %> |
<%= link_to 'Back', order_lines_path %>
