<p id="notice"><%= notice %></p>

<h1>Listing Store Items</h1>

<table>
  <thead>
    <tr>
      <th>Loss</th>
      <th>Enter</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Title</th>
      <th>Price</th>
      <th>Sum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @store_items.each do |store_item| %>
      <tr>
        <td><%= store_item.loss_id %></td>
        <td><%= store_item.enter_id %></td>
        <td><%= store_item.product_id %></td>
        <td><%= store_item.quantity %></td>
        <td><%= store_item.title %></td>
        <td><%= store_item.price %></td>
        <td><%= store_item.sum %></td>
        <td><%= link_to 'Show', store_item %></td>
        <td><%= link_to 'Edit', edit_store_item_path(store_item) %></td>
        <td><%= link_to 'Destroy', store_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Store item', new_store_item_path %>
