<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style = "background: white; margin: 50px;padding: 15px;">
</div>
  <div class="modal-body">
<%= simple_form_for(@bank, remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="col-md-6">
    <%= f.input :number %>
    <%= f.input :oper_type %>
    <%= f.input :sum %>
    <%= f.input :description %>
  </div>
  <div class="col-md-6">
    <%= f.input :date %>
    <%= f.association :payer%>
    <%= f.association :receiver %>

    	<div class='links'>
		<%= link_to_add_association "Добавить ПП", f, :bank_items, 'data-association-insertion-node' => "#bank_items", 'data-association-insertion-method' => "append" %>
		</div>
		<table class="table table-hover" id="bank_items">
		  <thead>
		    <tr>
			<th colspan="1"></th>
			<th colspan="1"></th>
		    </tr>
		  </thead>
			<%= f.simple_fields_for :bank_items do |bank_item| %>
			<%= render 'bank_item_fields', :f => bank_item %>
			<% end %>
		   
		</table>	
	</div>

  </div>

			<div class="col-md-12">
	<%= f.button :submit,  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-sm'  %>
	<%= link_to t('back'), banks_path, class: 'btn btn-default btn-sm' %>
			</div>

<% end %>
  </div>