<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style = "background: white; margin: 50px;padding: 15px;"></div>
<p id="notice"><%= notice %></p>
<div class="col-md-12">
<div class="col-md-2">
<h2>Выписки </h2><small>сводная таблица</small>
</div>
<div class="col-md-3">
	<%= form_tag import_banks_path, multipart: true do %> 
	<p><%= file_field_tag :file %></p>  <p><%= submit_tag "Import" , :class =>'btn btn-default btn-xs' %></p>
<% end %>
</div>
<div class="col-md-7">
			<%= search_form_for @q, url: search_banks_path, class: 'form-inline'  do |f|%>
				<%= f.date_field :date_gteq, class: "form-control input-sm", placeholder: "Начальная дата" %>
				<%= f.date_field :date_lteq, class: "form-control input-sm", placeholder: "Конечная дата" %>
 			 <%= f.text_field :payer_id,  "data-autocomplete" => autocomplete_company_title_banks_path, 'data-id-element' => '#q_payer_id_or_receiver_id_eq', class: "form-control input-sm" , placeholder: 'Контрагенту'   %>
	  		<%= f.hidden_field :payer_id_or_receiver_id_eq%>  
			<%= f.submit t('search'), class:"btn btn-success  btn-sm"%>
			<%= link_to 'Сбросить', banks_path, class:"btn btn-default  btn-sm"%>
			<% end %>
</div>
</div>

<div class="col-md-12">
	<div class="col-md-6">
	</div>
	<div class="col-md-6">
		<p><strong>Кредит: </strong> <%=@credit%>  |  <strong>Дебет: </strong> <%=@debet%></p>
	</div>
</div>
<div class="col-md-12">
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t '.number' %></th>
	    <th><%= t '.date' %></th>
      <th><%= t '.type' %></th>
      <th><%= t '.sum' %></th>
      <th><%= t '.description' %></th>
      <th><%= t '.payer' %></th>
      <th><%= t '.reciever' %></th>
      <th><%= t '.invoice' %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @banks.each do |bank| %>
     <tr>
      <td><%=  link_to bank.number, bank,  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'%></td>
      <td><%= bank.date.strftime("%d/%m/%Y") %></td>
      <td><%= bank.oper_type %></td>
      <td><%= bank.sum %></td>
      <td><%= bank.description %></td>
      <td><%= link_to "#{bank.payer.title}", bank.payer,  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' if bank.payer != nil%></td>
      <td><%= link_to "#{bank.receiver.title}", bank.receiver,  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' if bank.receiver != nil%></td>
	        <td width="80px">
  		 <%if bank.bank_items.present? %>
	        <%if bank.oper_type == "К"%>
	        <% bank.bank_items.each do |bbi|%> 
	        <%= link_to "#{bbi.invoice.number}", bbi.invoice,  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' %>
	        <%end%>
	        <%end%>
	        <%if bank.oper_type == "Д"%>
	        <% bank.bank_items.each do |bbi|%> 
	        <%= link_to "#{bbi.purchase_invoice.number}", bbi.purchase_invoice,  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'%>
	        <%end%>
					<%end%>
			 <%end%>	
	        <td>
  <td><%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, bank, method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure?' } %></td>
     </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @banks %>
</div>


<!--  <%= link_to 'New Bank', new_bank_path %>  -->
