<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @bank.number %>
</p>

<p>
  <strong>Type:</strong>
  <%= @bank.oper_type %>
</p>

<p>
  <strong>Sum:</strong>
  <%= @bank.sum %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bank.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @bank.date %>
</p>

<p>
  <strong>Payer:</strong>
  <%= @bank.payer.title %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @bank.receiver.title %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @bank.invoice.number if @bank.invoice !=nil%>
</p>

	<div class="col-md-12">
	<%= link_to t('edit'), edit_bank_path(@bank), class: 'btn btn-default btn-sm' %> 
	<%= link_to t('back'), banks_path, class: 'btn btn-default btn-sm' %>
	</div>
