<h1><%=t '.show_title'%></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong><%=t '.number'%></strong>
  <%= @case.number %>
</p>

<p>
  <strong><%=t '.client'%></strong>
  <%= @case.client.name %>
</p>

<p>
  <strong><%=t '.iorder'%></strong>
  <%= @case.iorder_id %>
</p>

<p>
  <strong><%=t '.status'%></strong>
  <%= @case.status %>
</p>

<p>
  <strong><%=t '.service'%></strong>
  <%= @case.service %>
</p>

<p>
  <strong><%=t '.description'%></strong>
  <%= @case.description %>
</p>

<p>
  <strong><%=t '.iorder_check'%></strong>
  <%= @case.iorder_check %>
</p>

<div class="col-md-12">
<%= link_to t('edit'), edit_case_path(@case), class: 'btn btn-default btn-sm' %> 
<%= link_to t('back'), cases_path, class: 'btn btn-default btn-sm' %>
</div>