<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @stock.product_id %>
</p>

<p>
  <strong>Invoice list:</strong>
  <%= @stock.invoice_list_id %>
</p>

<p>
  <strong>Purchase list:</strong>
  <%= @stock.purchase_list_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @stock.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @stock.price %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
