<style>
  	.header, .myfooter {display: none;}
    body {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
</style>
<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>


<div class="col-md-2">
</div>
<div class="col-md-8">
<div class="col-md-6">
    <%= f.input :first_name %>
    <%= f.input :middel_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :login %>
    <%= f.input :password %>
    <%= f.input :language, collection: [['English', 'en'], ['Russian', 'ru']] %>
  </div>
<div class="col-md-6">
    <%= f.input :role, collection: ['Генеральный директор', 'Менеджер', 'Водитель']  %>
    <%= f.input :doctype, collection: ['Паспорт', 'Водительское удостоверение'] %>
    <%= f.input :docseria %>
    <%= f.input :docnumber %>
    <%= f.input :dockem %>
    <%= f.input :docdate, start_year: Date.today.year - 60, end_year: Date.today.year%>
  </div>

<div class="col-md-12">
	<%= f.button :submit %>
	<%= link_to t('show'), @user, class: 'btn btn-default btn-sm' %> 
	<%= link_to t('back'), users_path, class: 'btn btn-default btn-sm' %>
</div>
<div class="col-md-2">
</div>

<% end %>
