<style>
  	.header, .myfooter {display: none;}
    body {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
</style>
<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>


<div class="col-md-4">
</div>
<div class="col-md-4">
<div class="col-md-12">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :login %>
    <%= f.input :password %>
  </div>
<div class="col-md-12">
    <%= f.button :submit %>
</div>
<div class="col-md-4">
</div>

<% end %>
