<p id="notice"><%= notice %></p>
<div class="col-md-12" style="margin-bottom:20px;">
	<div class="col-md-12">
		<div class="col-md-4">
<h1>Входящие сч-фактуры </br><small>сводная таблица</small></h1>
		</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-6">
		  <form class="form-inline">
			<%= t 'search_t' %>
			<%= search_form_for @search do |f|%>
	  		<div class = "form-group">
	  		<%= f.search_field :number_eq, placeholder: t('.number_eq'), class: "form-control input-sm"  %> 
	  		<%= f.submit t('search'), class: 'btn btn-default btn-sm' %>
	  		</div>
			<% end %>
			</form>

		</div>
		<div class="col-md-12">
		<div class="col-md-5">
		<p><!--link_to 'New Invoice', new_purchase_invoice_in_path --></p>
		</div>
	</div>
</div>


<div class="col-md-12">
	<div class="media">
	  <div class="media-body">
		<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t '.number' %></th>
      <th><%= sort_link(@search, :data, t('.date')) %></th>
      <th><%= t '.purchase_list' %></th>
      <th><%= t '.company' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchase_invoice_ins.each do |purchase_invoice_in| %>
      <tr>
        <td><%= purchase_invoice_in.number %></td>
        <td><%= purchase_invoice_in.data.strftime("%d / %m / %Y") %></td>
        <td><%= purchase_invoice_in.purchase_list.number %></td>
        <td><% company = Company.find_by_id(purchase_invoice_in.purchase_list.company_id) if purchase_invoice_in.purchase_list !=nil%>
	      <%= "#{company.title}" if company !=nil%>  
        </td>
        <td><%= link_to 'Show', purchase_invoice_in, class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Edit', edit_purchase_invoice_in_path(purchase_invoice_in), class: 'btn btn-success btn-xs'  %></td>
        <td><%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, purchase_invoice_in, method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @invoices %>
	  </div>
	</div>
</div>
</div>
