<p id="notice"><%= notice %></p>
<div class="col-md-12" style="margin-bottom:20px;">
	<div class="col-md-12">
		<div class="col-md-3">
			<h1>Ipmatika <br><small>сводная таблица</small></h1>
			<p>Всего товаров - <%= @totalipmatikas %></p>
		</div>
		<div class="col-md-3">
		
		<p>Import product</p>
		<p><%= form_tag import_ipmatikas_path, multipart: true do %></p>  
		<p><%= file_field_tag :file %></p><p><%= submit_tag "Import", :class =>'btn btn-default btn-xs' %></p>
		<% end %>
		</div>
		<div class="col-md-6">
		<p>Поиск</p>
		<%= search_form_for @search do |f|%>
  		<div classs = "search">
   		<%= f.label :title_cont, 'Названию' %> <!--расширение _cont используется для string -->
  		<%= f.search_field :title_cont %>  <%= f.submit "Search", class: 'btn btn-default btn-sm' %>
		</div>
		<% end %>	
		</div>	
	</div>
<br>
	<div class="col-md-12">
		<div class="col-md-2">
		<p>Download: <%= link_to "CSV", ipmatikas_path(format: "csv") %> | <%= link_to "Excel", ipmatikas_path(format: "xls") %></p>

		</div>
</div>

<div class="col-md-12">
<div class="media">
  <div class="media-body">
<table class="table table-hover">
  <thead>
    <tr>
    <th>Id</th>
      <th>Sku</th>
      <th>Title</th>
      <th>Qt all</th>
      <!-- <th>Qt res</th> -->
      <!-- <th>Qt free</th> -->
      <th>Cost price</th>
      <th>Sell price</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ipmatikas.each do |ipmatika| %>
      <tr>
      <td><%= ipmatika.id %></td>
        <td><%= ipmatika.sku %></td>
        <td><%= ipmatika.title %></td>
        <td><%= ipmatika.quantity_all %></td>
        <!-- <td><%= ipmatika.quantity_res %></td> -->
        <!-- <td><%= ipmatika.quantity_free %></td> -->
        <td><%= ipmatika.cost_price %></td>
        <td><%= ipmatika.sell_price %></td>
        <td><%= ipmatika.price %></td>
        <td><%= link_to 'Show', ipmatika, class: 'btn btn-default btn-sm'  %></td>
        <td><%= link_to 'Edit', edit_ipmatika_path(ipmatika), class: 'btn btn-success btn-sm'  %></td>
        <td><%= link_to 'Destroy', ipmatika, method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>


<!--<%= link_to 'New Ipmatika', new_ipmatika_path %>-->
