<p id="notice"><%= notice %></p>

<h1>Listing Treolans</h1>

<p>Import product</p>
<p><%= form_tag import_treolans_path, multipart: true do %></p>  
<p><%= file_field_tag :file %></p>  
<p><%= submit_tag "Import" %></p>
<% end %>

<table>
  <thead>
    <tr>
    <th>Id</th>
      <th>Sku</th>
      <th>Title</th>
      <th>Quantity</th>
      <th>Transit</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @treolans.each do |treolan| %>
      <tr>
      <td><%= treolan.id %></td>
        <td><%= treolan.sku %></td>
        <td><%= treolan.title %></td>
        <td><%= treolan.quantity %></td>
        <td><%= treolan.transit %></td>
        <td><%= treolan.price %></td>
        <td><%= link_to 'Show', treolan %></td>
        <td><%= link_to 'Edit', edit_treolan_path(treolan) %></td>
        <td><%= link_to 'Destroy', treolan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Treolan', new_treolan_path %>
