 <%= simple_form_for(@company) do |f| %>
  <%= f.error_notification %>
<div class="col-md-12">
	<div class="col-md-8">
		<div class="col-md-12">
			<div class="col-md-5">
			<%= f.input :inn , input_html: { onchange: "myInnFunction(this.value)" }%> 
			</div>
			<div class="col-md-5">
			<%= f.input :kpp %>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-8"> 
			<%= f.input :title %>
			</div>
			<div class="col-md-12">
			<%= f.input :fulltitle, as: :text %>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-12">
			<%= f.input :uraddress %>
			</div>
			<div class="col-md-12">
			<%= f.input :factaddress %>
			</div>
		</div>
	</div>

	<div class="col-md-4" >
		<div class="col-md-12">
			<%= f.input :ogrn %>
			<%= f.input :okpo %>
		</div>
		<div class="col-md-12" style="border-top: 1px solid #e5e5e5";>
		<%= f.input :bik, input_html: { onchange: "myBikFunction(this.value)" } %>
		<%= f.input :banktitle %>
		<%= f.input :bankaccount %>
		</div>
	</div>
	
	<div class="col-md-12" style="margin-top:20px;">  
	<%= f.button :submit, class: 'btn btn-default btn-sm', id: 'companies_submit'%>
	<%= link_to 'Show', @company, class: 'btn btn-default btn-sm', id: 'companies_show'  %>
	<%= link_to 'Back', companies_path, class: 'btn btn-default btn-sm', id: 'companies_back'  %>

<% end %>
