<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style = "background: white; margin: 50px;padding: 15px;">
</div>

 <%= simple_form_for(@company, :remote => true) do |f| %>
  <%= f.error_notification %>
<div class="col-md-12">
	<div class="col-md-8">
		<div class="col-md-12">
			<div class="col-md-5">
			<%= f.input :inn , input_html: { onchange: "myInnFunction(this.value)" }%> 
			</div>
			<div class="col-md-5">
			<%= f.input :kpp %>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-8"> 
			<%= f.input :title %>
			</div>
			<div class="col-md-12">
			<%= f.input :fulltitle, as: :text %>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-12">
			<%= f.input :uraddress %>
			</div>
			<div class="col-md-12">
			<%= f.input :factaddress %>
			</div>
		</div>
	</div>

	<div class="col-md-4" >
		<div class="col-md-12">
			<%= f.input :ogrn %>
			<%= f.input :okpo %>
		</div>
		<div class="col-md-12" style="border-top: 1px solid #e5e5e5";>
		<%= f.input :bik, input_html: { onchange: "myBikFunction(this.value)" } %>
		<%= f.input :banktitle %>
		<%= f.input :bankaccount %>
		</div>
	</div>
	
	<div class="col-md-12" style="margin-top:20px;">  
	<%= link_to 'Back', :back, class: 'btn btn-default btn-sm'  %>
	<%= f.button :submit,  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-sm'%>
<% end %>
