<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body">
<p id="notice"><%= notice %></p>
<div class="col-md-12">
<p>
  <strong>Title:</strong>
  <%= @company.title %>
</p>

<p>
  <strong>Fulltitle:</strong>
  <%= @company.fulltitle %>
</p>

<p>
  <strong>Uraddress:</strong>
  <%= @company.uraddress %>
</p>

<p>
  <strong>Factaddress:</strong>
  <%= @company.factaddress %>
</p>

<p>
  <strong>Inn:</strong>
  <%= @company.inn %>
</p>

<p>
  <strong>Kpp:</strong>
  <%= @company.kpp %>
</p>

<p>
  <strong>Ogrn:</strong>
  <%= @company.ogrn %>
</p>

<p>
  <strong>Okpo:</strong>
  <%= @company.okpo %>
</p>

<p>
  <strong>Bik:</strong>
  <%= @company.bik %>
</p>

<p>
  <strong>Banktitle:</strong>
  <%= @company.banktitle %>
</p>

<p>
  <strong>Bankaccount:</strong>
  <%= @company.bankaccount %>
</p>
<p>
  <strong>Номер счета:</strong>
  <% @company.invoices.each do |invoice|%>
  <%= link_to "#{invoice.number}", invoice%>
  <%end%>
</p>



	<div class="col-md-12" style="margin-top:20px;">  
		<div class="col-md-6">
			<%= link_to t('edit'), edit_company_path(@company), class: 'btn btn-default btn-sm'  %>
			<%= link_to t('back'), companies_path, class: 'btn btn-default btn-sm'  %>
		</div>
	</div>
</div>


</div>