<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @company.title %>
</p>

<p>
  <strong>Fulltitle:</strong>
  <%= @company.fulltitle %>
</p>

<p>
  <strong>Uraddress:</strong>
  <%= @company.uraddress %>
</p>

<p>
  <strong>Factaddress:</strong>
  <%= @company.factaddress %>
</p>

<p>
  <strong>Inn:</strong>
  <%= @company.inn %>
</p>

<p>
  <strong>Kpp:</strong>
  <%= @company.kpp %>
</p>

<p>
  <strong>Ogrn:</strong>
  <%= @company.ogrn %>
</p>

<p>
  <strong>Okpo:</strong>
  <%= @company.okpo %>
</p>

<p>
  <strong>Bik:</strong>
  <%= @company.bik %>
</p>

<p>
  <strong>Banktitle:</strong>
  <%= @company.banktitle %>
</p>

<p>
  <strong>Bankaccount:</strong>
  <%= @company.bankaccount %>
</p>



<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
