<%= simple_form_for(@purchase_list) do |f| %>
  <%= f.error_notification %>


<div class="col-md-12">
	<div class="col-md-8">
		<div class="col-md-12">
			<div class="col-md-3">
			    <%= f.input :number, hint: 'Проверь номер' %>
			</div>
			<div class="col-md-9">
			    <%= f.input :date, order: [:day, :month, :year]  %>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-3">
			<%= f.association :company%>
			</div>
		</div>
	</div>
	
	<div class="col-md-4">
	<div class="col-md-6">
	    <%= f.input :status, collection: [ "Новый", "В работе", "Оплачен"] %>
	</div>
	<div class="col-md-12">
	    <%= f.input :purchase_invoicein_check %>
	</div>
	<div class="col-md-12">
	<%= f.simple_fields_for :purchase_invoice_in do |pii| %>
		<%= pii.input :id, as: :hidden %>
	    <%= pii.input :number, input_html: { id: pii.object.id }%>
	    <%= pii.input :data, as: :date , order: [:day, :month, :year]  %>
	    <% end %>
	</div>
	
	</div>
</div>
<div class="col-md-12" style="border-top:1px solid #ddd;">
		<div class="col-md-8" style="margin-top:20px;">
		<table class="table table-hover" id="purchase_list_items">
			<thead>
			<tr>
			<th colspan="1"></th>
			<th>Title</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>Sum</th>
			<th colspan="1"></th>
			</tr>
			</thead>
		   <%= f.simple_fields_for :purchase_list_items do |purchase_list_item| %>
			<%= render 'purchase_list_item_fields', :f => purchase_list_item %>
			<% end %>
		</table>
			<div class='links', style="float:left;">
			<%= link_to_add_association 'add line', f, :purchase_list_items, 'data-association-insertion-method' => "prepend"%>
			</div>
		
	</div>
	
<div class="col-md-4" style="margin-top:20px;">
	<div class="col-md-6" >
	<p>
	<%= f.input :total_price %>
	</p>
	</div>
	<div class="col-md-12" style="margin-top:20px;">
	<%= f.button :submit, class: 'btn btn-default btn-sm' %>
	<%= link_to 'Show', @purchase_list, class: 'btn btn-default btn-sm'  %>
	<%= link_to 'Back', purchase_lists_path, class: 'btn btn-default btn-sm'  %>
	</div>
	
</div>

</div>    

<% end %>
</div>