<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">

<p id="notice"><%= notice %></p>

<div class="col-md-12">
<div class="col-md-8">
<h1><%= t '.title' %> <%= @purchase_list.number %></h1>

<p>
  <strong><%= t '.date' %>:</strong>
  <%= @purchase_list.date.strftime("%d / %m / %Y")  %>
</p>

<p>
  <strong><%= t '.company' %>:</strong>
  <%= @purchase_list.company.title if @purchase_list.company !=nil %>
</p>
</div>
	<div class="col-md-4">
	<div class="col-md-12">
	  <strong><%= t '.status' %>:</strong>
	  <%= @purchase_list.status %>
	</div>
	<div class="col-md-12">
	  <strong><%= t '.doc_status' %>:</strong>
	  <% if @purchase_list.purchase_invoicein_check == true%>
	  <%= "Проведен" %>
	  <%else %>
	  <%= "Не проведен" %> 
	  <%end%>
	</div>
	</div>
</div>
<div class="col-md-12">
<div class="col-md-8">
<strong><%= t '.product_info' %></strong>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t 'item_title' %></th>
      <th><%= t 'item_quantity' %></th>
      <th><%= t 'item_price' %></th>
      <th><%= t 'item_sum' %></th>
    </tr>
  </thead>

  <tbody>
    <% @purchase_list.purchase_list_items.each do |pr| %>
      <tr>
        <td><%=link_to "#{pr.title}", pr.product %></td>
        <td><%= pr.quantity %></td>
        <td><%= pr.price %></td>
        <td><%= pr.sum %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="col-md-4" style="margin-top:40px;">

<p>
  <strong><%= t '.total' %>:</strong>
  <%= @purchase_list.total_price %> руб.
</p>

</div>
</div>


<div class="col-md-12">
<%= link_to t('edit'), edit_purchase_list_path(@purchase_list), class: 'btn btn-default btn-sm' %> 
<%= link_to t('back'), purchase_lists_path, class: 'btn btn-default btn-sm' %>

</div>

  </div>