<head>
	<meta http-equiv=Content-Type content="text/html; charset=UTF-8">
	<title>
	Доверенность № <%=@dover.number%>
	</title>
<style type="text/css">
	p {margin: 0; padding: 0;}	.ft00{font-size:9px;font-family:Times;color:#000000;}
	.ft01{font-size:9px;font-family:Times;color:#000000;}
	.ft02{font-size:6px;font-family:Times;color:#000000;}
	.ft03{font-size:12px;font-family:Times;color:#000000;}
	.ft04{font-size:10px;font-family:Times;color:#000000;}
	.ft05{font-size:9px;font-family:Times;color:#000000;}
	.ft06{font-size:9px;line-height:12px;font-family:Times;color:#000000;}
</style>
</head>
<body>
<div id="page1-div" style="position:relative;width:892px;height:1263px;">
<%= wicked_pdf_image_tag("o_294a861ee81cf278001.png", :height =>'1263', :width => '892') %>
<p style="position:absolute;top:72px;left:155px;white-space:nowrap" class="ft00">Дата&#160;выдачи</p>
<p style="position:absolute;top:72px;left:268px;white-space:nowrap" class="ft00">Срок&#160;действия</p>
<p style="position:absolute;top:96px;left:78px;white-space:nowrap" class="ft00">1</p>
<p style="position:absolute;top:96px;left:186px;white-space:nowrap" class="ft00">2</p>
<p style="position:absolute;top:96px;left:304px;white-space:nowrap" class="ft00">3</p>
<p style="position:absolute;top:96px;left:523px;white-space:nowrap" class="ft00">4</p>
<p style="position:absolute;top:96px;left:772px;white-space:nowrap" class="ft00">5</p>
<p style="position:absolute;top:119px;left:72px;white-space:nowrap" class="ft00"><%=@dover.number%></p>
<p style="position:absolute;top:119px;left:161px;white-space:nowrap" class="ft00"><%=@dover.startdate.strftime("%d / %m / %Y")%></p>
<p style="position:absolute;top:119px;left:279px;white-space:nowrap" class="ft00"><%=@dover.enddate.strftime("%d / %m / %Y")%></p>
<p style="position:absolute;top:119px;left:444px;white-space:nowrap" class="ft00"><%=@dover.user.last_name%>&#160;<%=@dover.user.first_name%></p>
<p style="position:absolute;top:157px;left:131px;white-space:nowrap" class="ft00">Поставщик</p>
<p style="position:absolute;top:188px;left:157px;white-space:nowrap" class="ft00">6</p>
<p style="position:absolute;top:188px;left:406px;white-space:nowrap" class="ft00">7</p>
<p style="position:absolute;top:188px;left:694px;white-space:nowrap" class="ft00">8</p>
<p style="position:absolute;top:211px;left:380px;white-space:nowrap" class="ft00">счету&#160;7421</p>
<p style="position:absolute;top:233px;left:413px;white-space:nowrap" class="ft00">Линия&#160;отреза</p>
<p style="position:absolute;top:265px;left:662px;white-space:nowrap" class="ft00">Типовая&#160;межотраслевая&#160;форма&#160;№&#160;М-2</p>
<p style="position:absolute;top:281px;left:504px;white-space:nowrap" class="ft00">Утверждена&#160;постановлением&#160;Госкомстата&#160;России&#160;от&#160;30.10.97&#160;№&#160;71а</p>
<p style="position:absolute;top:298px;left:798px;white-space:nowrap" class="ft00">коды</p>
<p style="position:absolute;top:356px;left:174px;white-space:nowrap" class="ft00">Общество&#160;с&#160;ограниченной&#160;ответственностью&#160;&#34;ФриЗ&#34;</p>
<p style="position:absolute;top:327px;left:662px;white-space:nowrap" class="ft00">Форма&#160;по&#160;ОКУД&#160;</p>
<p style="position:absolute;top:327px;left:789px;white-space:nowrap" class="ft01"><b>0315001</b></p>
<p style="position:absolute;top:356px;left:102px;white-space:nowrap" class="ft00">Организация</p>
<p style="position:absolute;top:356px;left:699px;white-space:nowrap" class="ft00">по&#160;ОКПО&#160;</p>
<p style="position:absolute;top:356px;left:786px;white-space:nowrap" class="ft00">99578425</p>
<p style="position:absolute;top:373px;left:254px;white-space:nowrap" class="ft02">наименование&#160;организации</p>
<p style="position:absolute;top:399px;left:222px;white-space:nowrap" class="ft03"><b>ДОВЕРЕННОСТЬ&#160;№</b></p>
<p style="position:absolute;top:402px;left:366px;white-space:nowrap" class="ft01"><b>&#160;<%=@dover.number%></b></p>
<p style="position:absolute;top:429px;left:177px;white-space:nowrap" class="ft00">Дата&#160;выдачи:&#160;&#160;&#160;&#160;&#160;<%=@dover.startdate.strftime("%d / %m / %Y")%></p>
<p style="position:absolute;top:445px;left:73px;white-space:nowrap" class="ft00">Доверенность&#160;действительна&#160;по:&#160;&#160;&#160;&#160;&#160;<%=@dover.enddate.strftime("%d / %m / %Y")%></p>
<p style="position:absolute;top:488px;left:27px;white-space:nowrap" class="ft00">Общество&#160;с&#160;ограниченной&#160;ответственностью&#160;&#34;ФриЗ&#34;&#160;117042&#160;Москва,&#160;Чертановская&#160;ул.&#160;д&#160;47,&#160;корп&#160;2</p>
<p style="position:absolute;top:505px;left:363px;white-space:nowrap" class="ft02">наименование&#160;потребителя&#160;и&#160;его&#160;адрес</p>
<p style="position:absolute;top:532px;left:27px;white-space:nowrap" class="ft00">Общество&#160;с&#160;ограниченной&#160;ответственностью&#160;&#34;ФриЗ&#34;&#160;117042&#160;Москва,&#160;Чертановская&#160;ул.&#160;д&#160;47,&#160;корп&#160;2</p>
<p style="position:absolute;top:548px;left:362px;white-space:nowrap" class="ft02">наименование&#160;плательщика&#160;и&#160;его&#160;адрес</p>
<p style="position:absolute;top:587px;left:178px;white-space:nowrap" class="ft00">Счет&#160;№&#160;&#160;40702810097540000082</p>
<p style="position:absolute;top:587px;left:535px;white-space:nowrap" class="ft00">в</p>
<p style="position:absolute;top:603px;left:666px;white-space:nowrap" class="ft02">наименование&#160;банка</p>
<p style="position:absolute;top:615px;left:102px;white-space:nowrap" class="ft00">Доверенность&#160;выдана&#160;&#160;<%=@dover.user.role%></p>
<p style="position:absolute;top:615px;left:386px;white-space:nowrap" class="ft00">&#160;<%=@dover.user.last_name%>&#160;<%=@dover.user.first_name%></p>
<p style="position:absolute;top:631px;left:271px;white-space:nowrap" class="ft02">должность</p>
<p style="position:absolute;top:631px;left:483px;white-space:nowrap" class="ft02">фамилия,&#160;имя,&#160;отчество</p>
<p style="position:absolute;top:642px;left:141px;white-space:nowrap" class="ft00">Паспорт&#160;серия&#160;<%=@dover.user.docseria%></p>
<p style="position:absolute;top:642px;left:366px;white-space:nowrap" class="ft00">№&#160;<%=@dover.user.docnumber%></p>
<p style="position:absolute;top:658px;left:162px;white-space:nowrap" class="ft00">Кем&#160;выдан&#160;<%=@dover.user.dockem%></p>
<p style="position:absolute;top:674px;left:151px;white-space:nowrap" class="ft00">Дата&#160;выдачи&#160;<%=@dover.user.docdate.strftime("%d / %m / %Y")%></p>
<p style="position:absolute;top:690px;left:131px;white-space:nowrap" class="ft00">На&#160;получение&#160;от&#160;<%=@dover.company.fulltitle%></p>
<p style="position:absolute;top:707px;left:487px;white-space:nowrap" class="ft02">наименование&#160;поставщика</p>
<p style="position:absolute;top:717px;left:66px;white-space:nowrap" class="ft00">Материальных&#160;ценностей&#160;по&#160;<%= @dover.subj%></p>
<p style="position:absolute;top:734px;left:461px;white-space:nowrap" class="ft02">наименование,&#160;номер&#160;и&#160;дата&#160;документа</p>
<p style="position:absolute;top:777px;left:27px;white-space:nowrap" class="ft01"><b>Перечень&#160;товарно-материальных&#160;ценностей,&#160;подлежащих&#160;получению</b></p>
<p style="position:absolute;top:816px;left:244px;white-space:nowrap" class="ft00">Материальные&#160;ценности</p>
<p style="position:absolute;top:816px;left:674px;white-space:nowrap" class="ft00">Количество&#160;(прописью)</p>
<p style="position:absolute;top:847px;left:54px;white-space:nowrap" class="ft00">1</p>
<p style="position:absolute;top:847px;left:307px;white-space:nowrap" class="ft00">2</p>
<p style="position:absolute;top:847px;left:567px;white-space:nowrap" class="ft00">3</p>
<p style="position:absolute;top:847px;left:732px;white-space:nowrap" class="ft00">4</p>
<% @dover.dover_items.each_with_index do |di, i|%>
<p style="position:absolute;top:863px;left:54px;white-space:nowrap" class="ft04"><%= (i+1) %></p>
<p style="position:absolute;top:863px;left:90px;white-space:nowrap" class="ft04"><%= di.product.title %></p>
<p style="position:absolute;top:863px;left:560px;white-space:nowrap" class="ft04">шт.</p>
<p style="position:absolute;top:863px;left:710px;white-space:nowrap" class="ft04"><%= di.quantity %>&#160;(<%= di.quantity.to_i.to_words %>)</p>
<%end%>
<p style="position:absolute;top:897px;left:27px;white-space:nowrap" class="ft00">Подпись&#160;лица,&#160;получившего&#160;доверенность</p>
<p style="position:absolute;top:897px;left:557px;white-space:nowrap" class="ft00">удостоверяем</p>
<p style="position:absolute;top:929px;left:27px;white-space:nowrap" class="ft01"><b>Руководитель</b></p>
<p style="position:absolute;top:929px;left:248px;white-space:nowrap" class="ft05"><i><b>&#160;</b></i></p>
<p style="position:absolute;top:929px;left:402px;white-space:nowrap" class="ft00">Эмексизов&#160;П.А.</p>
<p style="position:absolute;top:929px;left:557px;white-space:nowrap" class="ft00">&#160;</p>
<p style="position:absolute;top:945px;left:233px;white-space:nowrap" class="ft02">подпись</p>
<p style="position:absolute;top:945px;left:398px;white-space:nowrap" class="ft02">расшифровка&#160;подписи</p>
<p style="position:absolute;top:956px;left:89px;white-space:nowrap" class="ft00">М.П.</p>
<p style="position:absolute;top:988px;left:27px;white-space:nowrap" class="ft01"><b>Главный&#160;бухгалтер</b></p>
<p style="position:absolute;top:988px;left:402px;white-space:nowrap" class="ft00">Эмексизов&#160;П.А.</p>
<p style="position:absolute;top:1005px;left:233px;white-space:nowrap" class="ft02">подпись</p>
<p style="position:absolute;top:1005px;left:398px;white-space:nowrap" class="ft02">расшифровка&#160;подписи</p>
<p style="position:absolute;top:66px;left:64px;white-space:nowrap" class="ft00">Номер&#160;</p>
<p style="position:absolute;top:78px;left:44px;white-space:nowrap" class="ft00">доверенности</p>
<p style="position:absolute;top:66px;left:402px;white-space:nowrap" class="ft00">Должность&#160;и&#160;фамилия&#160;лица,&#160;которому&#160;выдана&#160;</p>
<p style="position:absolute;top:78px;left:489px;white-space:nowrap" class="ft00">доверенность</p>
<p style="position:absolute;top:66px;left:716px;white-space:nowrap" class="ft00">Расписка&#160;в&#160;получении&#160;</p>
<p style="position:absolute;top:78px;left:738px;white-space:nowrap" class="ft00">доверенности</p>
<p style="position:absolute;top:150px;left:310px;white-space:nowrap" class="ft00">Номер&#160;и&#160;дата&#160;наряда&#160;(замещающего&#160;</p>
<p style="position:absolute;top:163px;left:319px;white-space:nowrap" class="ft00">наряд&#160;документа)&#160;или&#160;извещения</p>
<p style="position:absolute;top:150px;left:544px;white-space:nowrap" class="ft00">Номер&#160;и&#160;дата&#160;документа,&#160;подтверждающего&#160;выполнение&#160;</p>
<p style="position:absolute;top:163px;left:669px;white-space:nowrap" class="ft00">поручения</p>
<p style="position:absolute;top:204px;left:40px;white-space:nowrap" class="ft00">Общество&#160;с&#160;ограниченной&#160;ответственностью&#160;</p>
<p style="position:absolute;top:217px;left:106px;white-space:nowrap" class="ft00">&#34;КомплектПоставка&#34;</p>
<p style="position:absolute;top:574px;left:557px;white-space:nowrap" class="ft06">ПАО&#160;РОСБАНК&#160;БИК&#160;&#160;044525256&#160;К/С&#160;&#160;<br/>30101810000000000256</p>
<p style="position:absolute;top:809px;left:32px;white-space:nowrap" class="ft00">Номер&#160;по&#160;</p>
<p style="position:absolute;top:822px;left:36px;white-space:nowrap" class="ft00">порядку</p>
<p style="position:absolute;top:809px;left:547px;white-space:nowrap" class="ft00">Единица&#160;</p>
<p style="position:absolute;top:822px;left:542px;white-space:nowrap" class="ft00">измерения</p>
</div>
</body>

