<p id="notice"><%= notice %></p>

<h1>Listing Vozvrats</h1>

<div class="col-md-12">
<div class="media">
  <div class="media-body">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Number</th>
      <th>Date</th>
      <th>Invoice list</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vozvrats.each do |vozvrat| %>
      <tr>
        <td><%= vozvrat.number %></td>
        <td><%= vozvrat.date %></td>
        <td><%= vozvrat.invoice_list_id %></td>
        <td><%= link_to 'Show', vozvrat , class: 'btn btn-default btn-xs'%></td>
        <td><%= link_to 'Edit', edit_vozvrat_path(vozvrat), class: 'btn btn-success btn-xs' %></td>
        <td><%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, vozvrat, method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>
</div>

<br>

<!--<%= link_to 'New Vozvrat', new_vozvrat_path %>-->
