<p id="notice"><%= notice %></p>
<div class="col-md-12" style="margin-bottom:20px;">
	<div class="col-md-12">
		<div class="col-md-3">
<h1>Служба доставки DPD<small>  сводная таблица</small></h1>

</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-7"><p>Поиск</p>
		<%= search_form_for @search do |f|%>
  		<div classs = "search">
  		<%= f.label :numer_eq, 'Номеру' %> <!--расширение _eq используется для integer -->
  		<%= f.search_field :numer_eq %>  <%= f.submit "Search", class: 'btn btn-default btn-sm' %>  
  		</div>
		<% end %>
		</div>

	</div>
<div class="col-md-12">
		<div class="col-md-5">
			<p>| <%= link_to 'Обновить', updatedpd_dpds_path%> | </p>
		</div>
</div>
</div>

<div class="col-md-12">
<div class="media">
  <div class="media-body">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Номер</th>
      <th>Dpdnumber</th>
      <th>Pickupdate</th>
      <th>Plandeliverytime</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dpds.each do |dpd| %>
      <tr>
        <td><%= dpd.numer %></td>
        <td><%= dpd.dpdnumber %></td>
        <td><%= dpd.pickupdate %></td>
        <td><%= dpd.plandeliverytime %></td>
        <td><%= dpd.state %></td>
        <!--<td><%= link_to 'Show', dpd %></td>
        <td><%= link_to 'Edit', edit_dpd_path(dpd) %></td>
        <td><%= link_to 'Destroy', dpd, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @imls %>
</div>
</div>
</div>

<!--<%= link_to 'New Dpd', new_dpd_path %>-->
