<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style = "background: white; margin: 50px;padding: 15px;"></div>


  <div class="modal-body">
 <%= simple_form_for(@purchase_invoice, remote: true) do |f| %>
  <%= f.error_notification %>
<div class="col-md-12">
	<div class="col-md-7">
		<div class="col-md-12">
			<div class="col-md-2">
			    <%= f.input :number  %>
			</div>
			<div class="col-md-3">
				<% if !@purchase_invoice.date.nil? %>
			    <%= f.input :date, as: :string , :input_html => { :value => @purchase_invoice.date.strftime("%d/%m/%Y") } %>
			    <%else%>
			    <%= f.input :date, as: :string %>
			    <%end%>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-3">
			 <%= f.input :company_title, as: :autocomplete, url:  autocomplete_company_title_purchase_invoices_path, input_html: { 'data-id-element' => '#purchase_invoice_company_id' }  %>
			 <%= f.input :company_id, as: :hidden %>
			 </div>
		</div>
	</div>
	
	<div class="col-md-5">
	<div class="col-md-6", id = "myclick">
	    <%= f.input :status, collection: [ "Новый", "В работе", "Получены документы"] %>
	    <%= f.input :purchase_list_check, input_html: { 'id' => 'add_pl_info' } %>
	</div>
	<div class="col-md-6" >
	<div class="pl_info" >
		<p>Номер и дата накладной</p>
		<%if !@purchase_invoice.purchase_lists.first.nil?%>
		<%= text_field_tag :pl_number, nil,value: @purchase_invoice.purchase_lists.first.number, class: "form-control input-sm"%>
		<%= text_field_tag :pl_date, nil, value: @purchase_invoice.purchase_lists.first.date.strftime("%d/%m/%Y"), class: "form-control input-sm"%>
		<%else%>
			<%= text_field_tag :pl_number, nil, class: "form-control input-sm", placeholder: 'Номер'%>
			<%= text_field_tag :pl_date, nil, class: "form-control input-sm", placeholder: 'Дата'%>
			<%end%>
	</div>    
	</div>
	</div>
</div>
<div class="col-md-12" style="border-top:1px solid #ddd;">
<div class='links'>
			<%= link_to_add_association t('add_item'), f, :purchase_invoice_items, 'data-association-insertion-node' => "#purchase_invoice_items", 'data-association-insertion-method' => "append", :id => 'add_items' , :onclick => "addId()"  %>
			</div>
		<div class="col-md-8" style="margin-top:20px;" >
		<table class="table table-hover" id="purchase_invoice_items">
		<thead>
			<tr>
			<th colspan="1"></th>
			<th>Title</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>Sum</th>
			<th colspan="1"></th>
			</tr>
		</thead>
		<%= f.simple_fields_for :purchase_invoice_items do |purchase_invoice_item| %>
		<%= render 'purchase_invoice_item_fields', :f => purchase_invoice_item %>
		<% end %>
		</table>
		</div>
<div class="col-md-4" style="margin-top:20px;">
	<div class="col-md-6" style="margin-top:20px;">
	<p>
		<%= f.input :total_price %>
	</p>
	</div>
	<div class="col-md-12">
	<%= f.button :submit,  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-sm' %>
	<%= link_to t('show'), @purchase_invoice,  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window' , class: 'btn btn-default btn-sm'  %>
	<%= link_to t('back'), purchase_invoices_path, class: 'btn btn-default btn-sm' %>
	</div>
</div>

</div> 
 
</div>
<%end%>
