<div class="nested-fields purchase_invoice_items_fields">
<div class="col-md-4">
		<%= f.input :title, as: :autocomplete, url: autocomplete_product_title_purchase_invoices_path, label: false %>
</div>
<div class="col-md-2">
		<%= f.input :quantity, label: false%>
		<!-- f.input :quantity, label: false, input_html: {onchange: "getValue()", id: "quantity"  }-->
</div>
<div class="col-md-2">
		<%= f.input :price,label: false  %>
		<!-- f.input :price,label: false, input_html: { onchange: "getValue()", id: "price"  }  -->
</div>
<div class="col-md-2">
		<%= f.input :sum, label: false %>
</div>
<div class="col-md-2">
		<%= link_to_remove_association "remove", f %>
</div>
</div>
<table>
<thead>
<tr>
<th>Test</th>
</tr>
</thead>
<tbody>
<tr>
<td>test variable</td>
</tr>
</tbody>
</table>
