<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style = "background: white; margin: 50px;padding: 15px;"></div>
<p id="notice"><%= notice %></p>
<div class="col-md-12" style="margin-bottom:20px;">
	<div class="col-md-12">
		<div class="col-md-2">
<h2>Входящие счета </br><small>сводная таблица</small></h2>
		</div>
		<div class="col-md-2">
			<%=link_to t('.new_invoice'), new_purchase_invoice_path   , class: 'btn btn-sm btn-info' %>
		</div>
		<div class="col-md-8">  		
  		<form class="form-inline">
			<%= search_form_for @search do |f|%>
<div class = "form-group">
				<%= f.date_field :date_gteq, class: "form-control input-sm", placeholder: "Начальная дата" %>
				<%= f.date_field :date_lteq, class: "form-control input-sm", placeholder: "Конечная дата" %>
		  	<%= f.search_field :number_eq, placeholder: t('.number_eq'), class: "form-control input-sm"  %> 
	  		<%= f.search_field :status_cont, placeholder: t('.status_cont'), class: "form-control input-sm"  %>  
	  		<%= f.submit t('search'), class: 'btn btn-success btn-sm' %>
			<%= link_to 'Сбросить', purchase_invoices_path, class:"btn btn-default  btn-sm"%>
	  		</div>
			<% end %>
			</form>
		</div>
		<div class="col-md-12">
		<div class="col-md-5">
		</div>
	</div>
</div>

<div class="col-md-12">
	<div class="media">
	  <div class="media-body">
		<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t '.number' %></th>
      <th><%= sort_link(@search, :date, t('.date')) %></th>
      <th><%= t '.company' %></th>
      <th><%= t '.status' %></th>
      <th><%= sort_link(@search, :total_price, t('.total')) %></th>
      <th><%= t '.purchase_list' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchase_invoices.each do |purchase_invoice| %>
      <tr>
        <td><%=  link_to purchase_invoice.number, purchase_invoice,  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'%></td>
        <td><%= purchase_invoice.date.strftime("%d / %m / %Y") %></td>
        <td><%= purchase_invoice.company.title if purchase_invoice.company !=nil %></td>
        <td><%= purchase_invoice.status %></td>
        <td><span data-toggle="popover" data-content="<% purchase_invoice.purchase_invoice_items.each do |pr| %><p><%=pr.title %> - <%= pr.quantity %> шт - <%= pr.price %>р<%end%></p>" data-placement="top" data-trigger="hover"><%= purchase_invoice.total_price %></span></td>
        <%if purchase_invoice.purchase_lists.blank?%>
        <td>Не введена</td>
        <%else%>
        <td><%=link_to purchase_invoice.purchase_lists.first.number, purchase_invoice.purchase_lists.first,  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'%> (<%=purchase_invoice.purchase_lists.first.date.strftime("%d/%m/%Y")%>)</td>
        <%end%>
        <td><%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, purchase_invoice, method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @invoices %>
	  </div>
	</div>
</div>


</div>
