<%= simple_form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6">
    <%= f.input :number %>
    <%= f.input :postnumber %>
    <%= f.input :pickupdate %>
    <%= f.input :state, collection: [ "Отгружен", "Доставен", "Проблема"] %>
  </div>
  <div class="col-md-12">
<%= f.button :submit, class: 'btn btn-default btn-sm' %>
    <%= link_to t('show'), @post, class: 'btn btn-default btn-sm' %> 
<%= link_to t('back'), posts_path , class: 'btn btn-default btn-sm'%>

  </div>
<% end %>
