<p id="notice"><%= notice %></p>
<div class="col-md-12" style="margin-bottom:20px;">
	<div class="col-md-12">
		<div class="col-md-2">
			<h1>Вимком <small>сводная таблица</small></h1>
			<p>Всего товаров - <%= @totalvimcoms %></p>
		</div>
		<div class="col-md-3">
		
		<p>Import product</p>
		<p><%= form_tag import_vimcoms_path, multipart: true do %></p>  <p><%= file_field_tag :file %></p>  <p><%= submit_tag "Import" %></p>
		<% end %>
		</div>
		<div class="col-md-7">
			<div class="col-md-12" style="margin-bottom: 5px;">
			<form class="form-inline">
			<p>Поиск</p>
			<%= search_form_for @search do |f|%>
	  		<div class = "form-group">
	  		<%= f.search_field :title_cont, placeholder: 'Названию', class: "form-control input-sm"  %>  
	  		</div>
	  		<%= f.submit "Search", class: 'btn btn-default btn-sm' %>
	  		
			<% end %>
			</form>
			</div>
		</div>	
	</div>
<br>
	<div class="col-md-12">
		<div class="col-md-2">
		<p>Download: <%= link_to "CSV", vimcoms_path(format: "csv") %> | <%= link_to "Excel", vimcoms_path(format: "xls") %></p>

		</div>
</div>


<div class="col-md-12">
<div class="media">
  <div class="media-body">
<table class="table table-hover">
  <thead>
    <tr>
    <th>Id</th>
      <th>Title</th>
      <th>Quantity free</th>
      <th>Quantity all</th>
      <th>Cost price</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vimcoms.each do |vimcom| %>
      <tr>
      <td><%= vimcom.id %></td>
        <td><%= vimcom.title %></td>
        <td><%= vimcom.quantity_free %></td>
        <td><%= vimcom.quantity_all %></td>
        <td><%= vimcom.cost_price %></td>
        <td><%= vimcom.price %></td>
        <td><%= link_to 'Show', vimcom, class: 'btn btn-default btn-sm'  %></td>
        <td><%= link_to 'Edit', edit_vimcom_path(vimcom), class: 'btn btn-success btn-sm' %></td>
        <td><%= link_to 'Destroy', vimcom, method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>


<!--<%= link_to 'New Vimcom', new_vimcom_path %>-->
