<%= form_for(@rrc) do |f| %>
  <% if @rrc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rrc.errors.count, "error") %> prohibited this rrc from being saved:</h2>

      <ul>
      <% @rrc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sku %><br>
    <%= f.text_field :sku %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
    <div class="field">
    <%= f.label :cost_price %><br>
    <%= f.number_field :cost_price %>
  </div>
  <div class="field">
    <%= f.label :sell_price %><br>
    <%= f.number_field :sell_price %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
