<p id="notice"><%= notice %></p>
<div class="col-md-12" style="margin-bottom:20px;">
	<div class="col-md-12">
		<div class="col-md-2">
			<h1>РРС <small>сводная таблица</small></h1>
			<p id="product_option_id" style="display:none;">6</p>
			<p>Всего товаров - <%= @totalrrcs %></p>
		</div>
		<div class="col-md-3">
		<p>Import product</p>
		<p><%= form_tag import_rrcs_path, multipart: true do %></p>  
		<p><%= file_field_tag :file %></p><p><%= submit_tag "Import", :class =>'btn btn-default btn-xs' %></p>
		<% end %>
		</div>
		<div class="col-md-7">
		<div class="col-md-12" style="margin-bottom: 5px;">
		<form class="form-inline">
		<p>Поиск</p>
		<%= search_form_for @search do |f|%>
  		<div class = "form-group">
  		<%= f.search_field :sku_cont, placeholder: 'Sku', class: "form-control input-sm" %>  
  		<%= f.search_field :title_cont, placeholder: 'Названию', class: "form-control input-sm"  %>  
  		</div>
  		<%= f.submit "Search", class: 'btn btn-default btn-sm' %>
  		
		<% end %>
		</form>
		</div>

		</div>	
	</div>
<br>
	<div class="col-md-12">
	<div class="col-md-8">
<p><%= link_to 'Download products', downloadproduct_rrcs_path%> | <%= link_to 'Update products', updateproduct_rrcs_path%> | Download: <%= link_to "CSV", rrcs_path(format: "csv") %> <!--| <%= link_to "Excel", rrcs_path(format: "xls") %>--></p>

		</div>
</div>

<br>
<div class="col-md-12">
<div class="media">
  <div class="media-body">
<table class="table table-hover">
  <thead>
    <tr>
    	<th><%= sort_link(@search, :id, "Id") %></th>
      <th>Sku</th>
      <th>Title</th>
      <th>Quantity</th>
      <th>Cost price</th>
      <th>Sell price</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rrcs.each do |rrc| %>
      <tr>
        <td class="id"><%= rrc.id %></td>
        <td><%= rrc.sku %></td>
        <td><%= rrc.title %></td>
        <td><%= rrc.quantity %></td>
        <td><%= rrc.cost_price %></td>
        <td><%= rrc.sell_price %></td>
        <td><%= rrc.price %></td>
        <td><%= link_to 'Show', rrc, class: 'btn btn-default btn-sm' %></td>
        <td><%= link_to 'Edit', edit_rrc_path(rrc), class: 'btn btn-success btn-sm'  %></td>
        <td><%= link_to 'Destroy', rrc, method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' }  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>


<!--<%= link_to 'New Rrc', new_rrc_path %>-->
