<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @rrc.sku %>
</p>

<p>
  <strong>Title:</strong>
  <%= @rrc.title %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @rrc.quantity %>
</p>

<p>
  <strong>Cost price:</strong>
  <%= @rrc.cost_price %>
</p>

<p>
  <strong>Sell price:</strong>
  <%= @rrc.sell_price %>
</p>

<p>
  <strong>Price:</strong>
  <%= @rrc.price %>
</p>

<%= link_to 'Edit', edit_rrc_path(@rrc) %> |
<%= link_to 'Back', rrcs_path %>
