<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @loss.number %>
</p>

<p>
  <strong>Date:</strong>
  <%= @loss.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @loss.description %>
</p>

<p>
  <strong>Total:</strong>
  <%= @loss.total %>
</p>

<%= link_to 'Edit', edit_loss_path(@loss) %> |
<%= link_to 'Back', losses_path %>
