<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style = "background: white; margin: 50px;padding: 15px;">
</div>
<%= simple_form_for(@iorder, :remote => true) do |f| %>
  <%= f.error_notification %>


<div class="col-md-12">
<div class="col-md-8">
	<div class="col-md-12" >  
	<strong >Информация о клиенте</strong>
	</div>
	<div class="col-md-4"> 
	<%= f.input :client_name, as: :autocomplete, url: autocomplete_client_name_iorders_path, :update_elements => {:name => '#iorder_client_name', :middlename => '#iorder_client_middlename', :surname => '#iorder_client_surname', :phone => '#iorder_phone', :email => '#iorder_email', :zip => '#iorder_shipping_zip', :city => '#iorder_shipping_city', :address => '#iorder_shipping_address' }, input_html: { 'data-id-element' => '#iorder_client_id' }%>
	<%= f.input :client_id, as: :hidden %>
	</div>
	<div class="col-md-4"> 
	<%= f.input :client_middlename%>
	</div>
	<div class="col-md-4"> 
	<%= f.input :client_surname%>
	</div>
	<div class="col-md-6">  
	<%= f.input :phone%>
	</div>
	<div class="col-md-6">
	<%= f.input :email %>
	</div>
	<div class="col-md-6"> 
	<%= f.input :shipping_zip %>
	</div>
	<div class="col-md-6"> 
	<%= f.input :shipping_city %>
	</div>
	<div class="col-md-12">
	<%= f.input :shipping_address, as: :text %>
	</div>
</div>


<div class="col-md-4">
	<%if @iorder.invoice.nil?%>
	<%= f.input :invoice_check,  input_html: { checked: false } %>
	<%else%>
	<%= f.input :invoice_check,  input_html: { checked: true } %>
	<%end%>
	<%= f.association :status %>
	<%= f.input :financial %>
	<%= f.input :payment %>
	<%= f.input :delivery %>
	<%= f.association :mycourier %>
</div>
</div>

<div class="col-md-12">
	<div class="col-md-8" style="margin-top:-65px;">
	<div class='links', style="float:left;">
	<%= link_to_add_association t('add_item'), f, :line_items, 'data-association-insertion-node' => "#line_items", 'data-association-insertion-method' => "append" %>
	</div>
	<table class="table table-hover" id="line_items">
	  <thead>
	    <tr>
	      <th><%= t 'item_title' %></th>
	      <th><%= t 'item_quantity' %></th>
	      <th><%= t 'item_price' %></th>
	      <th><%= t 'item_sum' %></th>
	      <th colspan="1"></th>
	    </tr>
	  </thead>
		<%= f.simple_fields_for :line_items do |line_item| %>
		<%= render 'line_item_fields', :f => line_item %>
		<% end %>
	   
    </table>	
    
	</div>
	<div class="col-md-4">
	<div class="col-md-12">
		<div class="col-md-5" style="margin-top:10px;">
		<%= f.input :discount_percent, as: :integer %>
		</div>
		<div class="col-md-7" style="margin-top:10px;">
					<strong>Total Insales:</strong>
		<%= @iorder.total %>
		<strong>Delivery Price:</strong>
		<%= @iorder.deliveryprice %>
		<strong>Total Price:</strong>
		<%= @iorder.total_price %>
		</div>
			<div class="col-md-12">
	<%= link_to t('show'), @iorder,  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window',  class: 'btn btn-default btn-sm' %>
	<%= link_to t('back'), iorders_path, class: 'btn btn-default btn-sm' %>
	<%= f.button :submit,  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-sm'  %>
			</div>
		</div>
	</div>
	</div>
</div>    
    
    
    
<% end %>


