<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style = "background: white; margin: 50px;padding: 15px;"></div>
<%= simple_form_for(@iorder, remote: true) do |f| %>
  <% if @iorder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@iorder.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @iorder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-md-12">
<div class="col-md-8">
	<div class="col-md-12">  
	<strong>Информация о клиенте</strong>
	</div>
	<div class="col-md-4">  
	<%= f.input :client_id%>
	</div>
	<div class="col-md-4"> 
	<%= f.input :client_middlename%>
	</div>
	<div class="col-md-4"> 
	<%= f.input :client_surname%>
	</div>
	<div class="col-md-6">  
	<%= f.input :phone%>
	</div>
	<div class="col-md-6">
	<%= f.input :email %>
	</div>
	<div class="col-md-6"> 
	<%= f.input :shipping_zip %>
	</div>
	<div class="col-md-6"> 
	<%= f.input :shipping_city %>
	</div>
	<div class="col-md-12">
	<%= f.input :shipping_address, as: :text %>
	</div>
</div>


<div class="col-md-4">
	<div class="col-md-12">
	<strong>Статусы заказа</strong>
	<%= f.input :invoice_check %>
	<%= f.association :status %><br>
	<%= f.input :financial %>
	<%= f.input :payment %>
	<%= f.input :delivery %>
	<%= f.association :mycourier %><br>
	</div>
</div>
</div>

<div class="col-md-12">
	<div class="col-md-8">
	<table class="table table-hover" id="line_items">
	  <thead>
	    <tr>
	      <th>Title</th>
	      <th>Quantity</th>
	      <th>Price</th>
	      <th>Sum</th>
	      <th colspan="1"></th>
	    </tr>
	  </thead>
		<%= f.simple_fields_for :line_items do |line_item| %>
		<%= render 'line_item_fields', :f => line_item %>
		<% end %>
	   
    </table>	
	<div class='links', style="float:left;">
	<%= link_to_add_association 'add line', f, :line_items, 'data-association-insertion-node' => "#line_items", 'data-association-insertion-method' => "append" %>
	</div>
	</div>
	<div class="col-md-4">
	<div class="col-md-12">
	
	<%= link_to 'Show', @iorder,  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window',  class: 'btn btn-default btn-sm' %>
	<%= link_to 'Back', iorders_path, class: 'btn btn-default btn-sm' %>
	<%= f.button :submit,  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-sm'  %>
	</div>
	<div class="col-md-6" style="margin-top:20px;">
	<%= f.input :discount_percent, as: :integer %>
	<p>
		<strong>Total:</strong>
		<%= @iorder.total %>
	</p>
	<p>
		<strong>Total Price:</strong>
		<%= @iorder.total_price %>
	</p>
	<p>
		<strong>Delivery Price:</strong>
		<%= @iorder.deliveryprice %>
	</p>
	</div>
	</div>
</div>    
    
    
    
<% end %>


