<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style = "background: white; margin: 50px;padding: 15px;"></div>
<p id="notice"><%= notice %></p>
<div class="col-md-12" style="margin-bottom:20px;">
	<div class="col-md-12">
		<div class="col-md-2">
<h1>Заказы <br><small>сводная таблица</small></h1>


		</div>
		<div class="col-md-3">
		</div>
		<div class="col-md-7">
		<form class="form-inline">
		<p><%=t 'search_t'%></p>
		<%= search_form_for @search do |f|%>
  		<div class = "form-group">
  		<%= f.search_field :number_eq , placeholder: t('.number'), class: "form-control input-sm" %>  
   		<%= f.search_field :instatus_cont, placeholder: t('.status'), class: "form-control input-sm" %> 
  		</div> 
  		<%= f.submit t('search'), class: 'btn btn-default btn-sm' %>
  		<% end %>
		</form>
		</div>
	<div class="col-md-12">
		<div class="col-md-5">
<p>| <%= link_to 'Загрузить и обновить заказы', downloadorder_iorders_path%> | <!-- link_to 'Обновить', updateorder_iorders_path%> |--> <%= link_to 'Проверить доставки', checkdelivery_iorders_path%> | <!--<%= link_to 'New Iorder', new_iorder_path %>--></p>
		</div>
		
	</div>
</div>

<div class="col-md-12">
	<div class="media">
	  <div class="media-body">
		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th><%= sort_link(@search, :number, "Number") %></th>
		      <th>Status</th>
		      <th>Financial</th>
		      <th>Payment</th>
		      <th>Client</th>
		      <th>Delivery</th>
		      <th>Служба</th>
		      <th>Ст-c Д</th>
		      <th colspan="1"></th>
		    </tr>
		    
		  </thead>
		
		  <tbody>
		    <% @iorders.each do |iorder| %>
		      <tr>
		        <td><%=  link_to iorder.number, iorder,  :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'%></td>
		         <td><%if iorder.status.nil?%>
		         <%= iorder.instatus %>
		         <%else%>
		         <%= iorder.status.title if iorder.status != nil%>
		         <%end%></td>
		        <td><%= iorder.financial %></td>
		        <td><%= iorder.payment %></td>
		        <td><%if iorder.client.nil? %>
		        <%= iorder.clientname%>
		        <%else%>
		        <%= iorder.client.name if iorder.client !=nil %>
		        <%end%></td>
		        <td><%= iorder.delivery %></td>
		        <td><%= iorder.mycourier.title if iorder.mycourier != nil%></td>
		        <td><%if iorder.mycourier_id != nil%>
		        <%= iorder.iml.status if iorder.iml != nil%> <%= iorder.iml.state if iorder.iml != nil%> <%= iorder.dpd.state if iorder.dpd != nil%> <%= iorder.post.state if iorder.post != nil%> <%= iorder.courier.state if iorder.courier != nil%> 
		        <%end%>       
		        </td>
		        <td><%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, iorder, method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' } %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	<%= will_paginate @iorders %>
	  </div>
	</div>
</div>



