<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<head>
<title>Заказ <%= @iorder.number %></title>
</head>
<body>
<style>
  	.header, .myfooter {display: none;}
    .body  {
      font-size: 12px; color: #000;
      background-color: #fff;
      font-family: Arial;
      margin: 30px;
      width: 750px;
    }
    .table { border-spacing: 0px; font-size: 12px; }
    .clear {clear:both; margin:2px 0px; height:5px;}
    .border {
      border-bottom:1px solid black;
      padding-bottom:0;
     }
    .accent {font-size: 12px; font-weight: bold;}
    .bold {font-weight: bold;}
    .borders_table {width: 100%; border-collapse: collapse;}
    .borders_table, .borders_table  td, .products_table th {border: 1px solid #999; }
    .page_break { display:block; clear:both; page-break-after:always; }
    h2 {font-size:15px;}
</style>

<div style='margin-top:40px'>
<h2>Заказ № <%= @iorder.number %> от <%= @iorder.created_at.strftime("%d / %m / %Y")%></h2>
</center>
<p style='margin-top:30px;'>Заказчик:
<span style='margin-left: 17px'>
<%= @iorder.client.surname %> <%= @iorder.client.name %>
</span></p> 
<p>Телефон:
<span style='margin-left: 17px'>
<%= @iorder.client.phone %> 
</span>
</p>
<p>Адрес:
<span style='margin-left: 17px'>
<%= @iorder.client.city %>, <%= @iorder.client.address %> 
</span>
</p>
<table class='borders_table products_table' style='width:750px; margin-top: 20px'>
<tr>
	<th align='left'>№</th>
		<th>Артикул</th>
		<th>Наименование</th>
		<th>Ед. изм.</th>
		<th>Кол-во</th>
		<th>Цена</th>
		<th>Сумма</th>
	</tr>
<tr>
 <% @iorder.line_items.each_with_index do |pr, i| %>
<td align='center'><%= (i+1) %></td>
<td align="center"><%=pr.product.sku%></td>
<td><%=pr.product.title%>-<%=pr.product.short_description.at(0..17)%></td>
<td align='center'>шт</td>
<td align='center'><%= pr.quantity%></td>
<td align='right'><%= pr.price%></td>
<td align='right'><%= pr.sum%></td>
</tr>
 <% end %>
</table>
<table align='right'>
<tr>
<td align='right' width='120'>
<a>Итого</a>
</td>
<td align='right' width='80'><%= @iorder.line_items.sum(:sum)%></td>
</tr>
<tr>
<td align='right' width='120'>
<a>Скидка</a>
</td>
<td align='right' width='80'><%= @skidka%></td>
</tr>
<tr>
<td align='right' width='120'>
<a>Доставка</a>
</td>
<td align='right' width='80'><%= @iorder.deliveryprice%></td>
</tr>
<tr>
<td align='right' width='120'>
<a>НДС 18%</a>
</td>
<td align='right' width='80'><%= @nds%></td>
</tr>
<tr>
<td align='right' width='160'>
<b>Всего к оплате</b>
</td>
<td align='right' width='80'><%= @iorder.total_price%></td>
</tr>
</table>
<div style='clear:both'></div>
<p>
<a>
Всего наименований: <%= @iorder.line_items.count%>
</a>
<br>
<b>
Всего к оплате: <%= RuPropisju.rublej(@iorder.total_price)%>.
</b>
<b>
НДС: <%= RuPropisju.rublej(@nds)%>
</b>
</p>
</div>
</body>