<p id="notice"><%= notice %></p>
<div class="col-md-12">
<h1>Информация о заказе <%= @iorder.number %>  <small><strong>(InID: </strong><%= @iorder.inid %>)</small></h1>
<br>
<div class="col-md-12">
<div class="col-md-6">
<strong>Информация о клиенте</strong>
<p></p>
<p>
  <strong>Client:</strong>
  <%if @iorder.client.nil? %>
  <%= @iorder.clientname %> <%= @iorder.client_middlename %> <%= @iorder.client_surname %>
  <%else%>
  <%=link_to "#{@iorder.client.name if @iorder.client != nil}", @iorder.client %> <%= @iorder.client.middlename if @iorder.client != nil%> <%= @iorder.client.surname if @iorder.client != nil%> 
  <%end%>
</p>
<p>
  <strong>Phone:</strong>
  <%= @iorder.phone %>
</p>
<p>
  <strong>Email:</strong>
  <%= @iorder.email %>
</p>
<p>
  <strong>Address:</strong>
  <%= @iorder.shipping_zip %> <%= @iorder.shipping_city %> <%= @iorder.shipping_address %>
</p>

</div>
<div class="col-md-6">
<strong>Статусы заказа</strong>
<p></p>
<div class="col-md-12">
<div class="col-md-8"
  <strong>Documents:</strong>
  <table class="table table-hover">
  <thead> 
  <tr>
  <th>Счет</th>
  <th>Накладная</th>
  <th>Сч-ф</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <td>
  <%= link_to "#{@iorder.invoice.number}", @iorder.invoice if @iorder.invoice != nil %>
  </td>
  <td>
  <% if @iorder.invoice != nil%>
  <% @iorder.invoice.invoice_lists.each do |il| %>
  <%= link_to "#{il.number}", il if il != nil%>
  <% end %>
  <%else%>
  <%a="нет"%><%="#{a}"%>
  <% end %>
  </td>
  <td>
  <% if @iorder.invoice != nil%>
  <% @iorder.invoice.invoice_lists.each do |il|%>
  <%= link_to "#{il.invoiceout.number}", il.invoiceout if il.invoiceout != nil%>
  <% end %>
  <%else%>
  <%a="нет"%><%="#{a}"%>
  <%end%>
  </td>
  </tr>
  </tbody> 
  </table>
  <!-- @iorder.invoice_check -->
</div>
</div>
<p>
  <strong>Status:</strong>
  <%= @iorder.status.title if @iorder.status != nil %>

  <strong>Financial:</strong>
  <%= @iorder.financial %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @iorder.payment %>
</p>
<p>
  <strong>Delivery:</strong>
  <%= @iorder.delivery %>
</p>
<p>
  <strong>Курьерская служба:</strong>
  <%= @iorder.mycourier.title if @iorder.mycourier != nil %>
  (Статус - <%= @iorder.iml.status if @iorder.iml != nil %> <%= @iorder.iml.state if @iorder.iml != nil %> <%= @iorder.dpd.state if @iorder.dpd != nil %> <%= @iorder.post.state if @iorder.post != nil %> <%= @iorder.courier.state if @iorder.courier != nil %>)
</p>

</div>

<div class="col-md-12">
<div class="col-md-6">
<strong>Информация о товарах в заказе</strong>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Sum</th>
    </tr>
  </thead>

  <tbody>
    <% @iorder.line_items.each do |pr| %>
      <tr>
        <td><%=link_to "#{pr.title}", pr.product %></td>
        <td><%= pr.quantity %></td>
        <td><%= pr.price %></td>
        <td><%= pr.sum %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="col-md-2" style="margin-top:40px;">
<p>
  <strong>Discount:</strong>
<%= @iorder.discount_percent %> %
</p>
<p>
  <strong>Total:</strong>
  <%= @iorder.total %>
</p>
<p>
  <strong>Total Price:</strong>
  <%= @iorder.total_price %>
</p>
<p>
  <strong>Delivery Price:</strong>
  <%= @iorder.deliveryprice %>
</p>
</div>
</div>
</div>
</div>
<div class="col-md-12">
<%= link_to 'Edit', edit_iorder_path(@iorder), class: 'btn btn-default btn-sm' %> 
<%= link_to 'Back', iorders_path, class: 'btn btn-default btn-sm' %>
<%= link_to "Print", print_iorder_path(@iorder), target: :_blank, class: 'btn btn-success btn-xs' %>
</div>
