<p id="notice"><%= notice %></p>
<div class="col-md-12" style="margin-bottom:20px;">
	<div class="col-md-12">
		<div class="col-md-2">
			<h1>Товары </br><small>сводная таблица</small></h1>
		</div>
		<div class="col-md-3">
		<p>Всего товаров - <%= @totalproducts %> (c SKU - <%=@totalproductssku%>) </p>
		<p>Всего остаток = и > 0 - <%=@zeroquantity%> (<%=@qnotzero%>)</p>
		
		</div>
		<div class="col-md-7"><p>Поиск</p>
		<%= search_form_for @search do |f|%>
		<div classs = "search">
  		<%= f.label :sku_cont, 'по SKU' %> <!--расширение _eq используется для integer -->
  		<%= f.search_field :sku_cont %>
 
  		<%= f.label :title_cont, 'Названию' %> <!--расширение _cont используется для string -->
  		<%= f.search_field :title_cont %>  <%= f.submit "Search", class: 'btn btn-default btn-sm' %>
  
		</div>
		<% end %>
		</div>
	<div class="col-md-12">
		<div class="col-md-8">
<p>| <%= link_to 'Загрузить', downloadproduct_products_path%> | <%= link_to 'Обновить', updateproduct_products_path%> | <%= link_to 'Синхронизировать кол-во', checkquantity_products_path%>  | Download: <%= link_to "CSV", products_path(format: "csv") %> |<!-- <%= link_to 'Synchronize quantity', synchronize_products_path%> | --></p> 
 <!--| <%= link_to 'New Product', new_product_path  %> --></p>
		</div>
	</div>
</div>

<div class="col-md-12">
<div class="media">
  <div class="media-body">
<table class="table table-hover">
  <thead>
    <tr>
    <th>Id</th>
    
    <!--<th>Ipmatika</th>-->
      <!--<th>Homy id</th>-->
      <!--<th>Emag id</th>-->
      <!--<th>Rrc id</th>-->
      <!--<th>Energy</th>-->
      <!--<th>Inid</th>-->
      <th>SKU</th>
      <th>Title</th>
      <th>Short description</th>
      <th>Quantity</th>
      <th>Cost price</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
      <td><%= product.id %>
      
      <!--<td><%= product.ipmatika_id %></td>-->
      	<!--<td><%= product.homyproduct_id %></td>-->
      	<!--<td><%= product.emag_id %></td>-->
      	<!--<td><%= product.rrc_id %></td>-->
      	<!--<td><%= product.energy_id %></td>-->
        <!--<td><%= product.inid %></td>-->
        <td><%= product.sku %></td>
        <td><%= product.title %></td>
        <td><%= product.short_description %></td>
        <td><%= product.quantity%></td>
        
        <td><%= product.cost_price %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product, class: 'btn btn-default btn-xs'%></td>
        <td><%= link_to 'Edit', edit_product_path(product), class: 'btn btn-success btn-xs' %></td>
        <td><%= link_to 'Destroy', product, method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @products %>
  </div>
</div>
</div>
</div>

