<p id="notice"><%= notice %></p>
<div class="col-md-12" style="margin-bottom:20px;">
	<div class="col-md-12">
		<div class="col-md-6">
			<h2>Товары </br><small>сводная таблица</small></h2>
			<p>Всего - <%= @totalproducts %> (c SKU - <%=@totalproductssku%>) | Остаток = и > 0 - <%=@zeroquantity%> (<%=@qnotzero%>)</p>
<p>| <%= link_to 'Загрузить товары', downloadproduct_products_path%> | <%= link_to 'Загрузить варианты', updateproduct_products_path%> | <%= link_to 'Синхронизировать кол-во и цены', checkquantity_products_path%>  | <!--Download: <%= link_to "CSV", products_path(format: "csv") %> | <%= link_to 'Synchronize quantity', synchronize_products_path%> | --><br>Download: <%= link_to "Наличие для магазина", variants_path(format: "csv") %> | <%= link_to "ADVT", advt_products_path(format: "csv") %> |<%= link_to "ADVThidden", advthidden_products_path(format: "xml") %></p> 
		</div>
		<div class="col-md-6">
		<div class="col-md-12" style="margin-bottom: 5px;">
		<form class="form-inline">
		<%= search_form_for @search do |f|%>
  		<div class = "form-group">
  		<%= f.search_field :sku_cont, placeholder: 'Sku', class: "form-control input-sm" %>  
  		<%= f.search_field :title_cont, placeholder: 'Названию', class: "form-control input-sm"  %>  
  		</div>
  		<%= f.submit t('search'), class: 'btn btn-default btn-sm' %>
  		
		<% end %>
		</form>
		</div>
		<div class="col-md-12">
			<%= form_tag skidka_products_path, class: "form-inline" do %>
			<%= text_field_tag(:skidka, nil, placeholder: 'Скидка (не вводить)', class: "form-control input-sm")%>
			<a class="btn btn-default btn-sm" id="skidka_click">Установить</a>
			<%= submit_tag 'Save', class: "btn btn-default btn-sm" %>
			<% end %>
			</div>
		</div>
</div>

<div class="col-md-12">
<div class="media">
  <div class="media-body">
  <%= form_tag edit_multiple_products_path do %>
<table class="table table-hover">
  <thead>
    <tr>
    <th><%= check_box_tag 'selectAll', value = 'selectAll'%></th>
    
    <!--<th>Ipmatika</th>-->
      <!--<th>Homy id</th>-->
      <!--<th>Emag id</th>-->
      <!--<th>Rrc id</th>-->
      <!--<th>Energy</th>-->
      <!--<th>Inid</th>-->
      <th><%= t '.sku' %></th>
      <th><%= t '.title' %></th>
      <th><%= t '.description' %></th>
      <th><%= sort_link(@search, :quantity, t('.quantity')) %></th>
      <th><%= t '.cost_price' %></th>
      <th><%= t '.sell_price' %></th>
      <!--th><%=sort_link @search, :price, t('.price')%></th-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="products">
    <% @products.each do |product| %>
      <tr>
      <td><%=check_box_tag "product_ids[]", product.id%></td>
      
      <!--<td><%= product.ipmatika_id %></td>-->
      	<!--<td><%= product.homyproduct_id %></td>-->
      	<!--<td><%= product.emag_id %></td>-->
      	<!--<td><%= product.rrc_id %></td>-->
      	<!--<td><%= product.energy_id %></td>-->
        <!--<td><%= product.inid %></td>-->
        <td><%= product.sku %></td>
        <% a = product.variants.count%>
        <% if a > 1 %>
        <td><span style="background-color: rgba(95, 212, 225, 0.51);"><%= product.title %></span></td>
        <%else%>
        <td><%= product.title %></td>
        <%end%>
        <td><%= product.short_description.truncate(35) %></td>
        <td><%= product.quantity%></td>
        <td><%= product.cost_price %></td>
        <td id="productSellprice"><%= product.sell_price %></td>
        <!--td id="productPrice"><%= product.price %></td-->
        <td><%= link_to 'Show', product, class: 'btn btn-default btn-xs'%></td>
        <td><%= link_to 'Edit', edit_product_path(product), class: 'btn btn-success btn-xs' %></td>
        <td><%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, product, method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>
<%#= will_paginate @products %>

<% if @products.previous_page%>
<%= link_to 'Previuos', params.merge(:page => @products.previous_page )%>
<%end%>
Page <%= @products.current_page %> of <%=@products.total_pages %> and entries <%=@products.total_entries %>
<% if @products.next_page%>
<%= link_to 'Next', params.merge(:page => @products.next_page )%>
<%end%>

  </div>
  <p style="margin-top:15px;"><%= submit_tag "Edit Checked", class: "btn btn-default btn-sm"  %></p>
  <% end %>
</div>
</div>
</div>

