<p id="notice"><%= notice %></p>

<h2><%= @product.title %> <small>(inid <%= @product.inid%>)</small></h2>

<div class="col-md-12">
	<div class="col-md-12" style="margin-top:20px;">
	<div class="col-md-6"style="margin-top:10px;">
		<div class="col-md-4">
		<strong>SKU:</strong>  
		<%= @product.sku %>
		</div>
		<div class="col-md-8">
		<strong>Title:</strong> 
		<%= @product.title %>
		</div>
		<div class="col-md-12">
		<strong>Short description:</strong>  
		<%= @product.short_description %>
		</div>
	</div>
	<div class="col-md-6"style="margin-top:10px;">
		<div class="col-md-4">
		<strong>Quantity:</strong>  
		<%= @product.quantity %>
		</div>
		<div class="col-md-8">
		<strong>Cost price:</strong>  
		<%= @product.cost_price %>
		</div>
		<div class="col-md-6">
		<strong>Sell price:</strong>   
		<%= @product.sell_price %>
		</div>
		<div class="col-md-6">
		<strong>Price:</strong>   
		<%= @product.price %>
		</div>
	</div>

<div class="col-md-10" style="margin-top:20px;">
Варианты	
<table class="table table-hover">
  <tr style="background:#e7e7e7;">
	<th>Поставщик</th>
	<th>sku</th>
	<th>quantity</th>
	<th>cost_price</th>
	<th>price</th>
	<th>old_price</th>
	<th>weight</th>
	<th>Св-во</th>
	<th>ID поставщика</th>
  </tr>
  <tr>
	<% @product.variants.each do |pv|%>
	<td><strong><%=pv.product_option.supplier_name%></strong></td>
	<td><%=pv.sku %></td>
	<td><%=pv.quantity  %></td>
	<td><%=pv.cost_price %></td>
	<td><%=pv.price %></td>
	<td><%=pv.old_price %></td>
	<td><%=pv.weight %></td>
	<td><%=pv.product_option.title%></td>
	<td><%=pv.supplier_id %></td>
  </tr>
  	<%end%>
</table>
</div>
	
	
	  
	<div class="col-md-12" style="margin-top:20px;">  
		<div class="col-md-6">
			<%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-default btn-sm'  %>
			<%= link_to 'Back', products_path, class: 'btn btn-default btn-sm'  %>
		</div>
	</div>
	</div>

<!--
	<div class="col-md-4">
	<strong>Синхронизация с поставщиками (id):</strong>
	<div class="col-md-8">
	<div class="media">
		<div class="media-body">
		<table class="table table-hover">
		  <thead>
			  <tr>
			  <th>Название</th>
			  <th>Id</th>
			  </tr>
		  </thead>
		  <tbody> 
		    <tr>
		      <td>Категория insales</td>
		      <td><%= @product.category_id %></td>
		    </tr>
		    <tr>
		      <td>Inid</td>
		      <td><%= @product.inid %></td>
		    </tr>
		    <tr> 
		      <td>Variant id</td>
		      <td><%= @product.variant_id%></td>
		    </tr>
		    <tr>
		      <td>Homy id</td>
		      <td><%= @product.homyproduct_id %></td>
		    </tr>
		    <tr>
		      <td>Emag id</td>
		      <td><%= @product.emag_id %></td>
		    </tr>
		    <tr>
		      <td>RRC id</td>
		      <td><%= @product.rrc_id %></td>
		    </tr>
		    <tr>
		      <td>Ipmatika id</td>
		      <td><%= @product.ipmatika_id %></td>
		    </tr>
		    <tr>
		      <td>Angel</td>
		      <td><%= @product.angel_id %></td>
		    </tr>
		    <tr>     
		      <td>ET</td>
		      <td><%= @product.energy_id %></td>
		    </tr>
		    <tr>
		      <td>Vimcom</td>
		      <td><%= @product.vimcom_id %></td>
		    </tr>
		    <tr>
		      <td>Sskom</td>
		      <td><%= @product.sskom_id %></td>
		    </tr>
		    <tr>
		      <td>Treolan</td>
		      <td><%= @product.treolan_id %></td>
		    </tr>
		    <tr>
		      <td>Citilink</td>
		      <td><%= @product.citilink_id %></td>
		    </tr>
		    <tr>
		      <td>Store</td>
		      <td><%= @product.store_id %></td>
		    </tr>
		  </tbody>
		</table>
		</div>
	</div>
</div>	
	</div>	
-->


</div>
