<%= simple_form_for(@enter) do |f| %>
  <%= f.error_notification %>

  <div class="col-md-12">
  <div class="col-md-2">
    <%= f.input :number %>
  </div>
  <div class="col-md-5">
    <%= f.input :date, order: [:day, :month, :year]  %>
  </div>
  <div class="col-md-5">
    <%= f.input :description %>
  </div>
  </div>

<div class="col-md-12" style="border-top:1px solid #ddd;">
		<div class="col-md-8" style="margin-top:20px;">
		<table class="table table-hover" id="enter_store_items">
			<thead>
			<tr>
			<th>Title</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>Sum</th>
			<th colspan="1"></th>
			</tr>
			</thead>
		   <%= f.simple_fields_for :store_items do |si| %>
			<%= render 'store_item_fields', :f => si %>
			<% end %>
		</table>
			<div class='links', style="float:left;">
			<%= link_to_add_association 'add line', f, :store_items,'data-association-insertion-node' => "#enter_store_items", 'data-association-insertion-method' => "append"%>
			</div>
		
	</div>
	
<div class="col-md-4" style="margin-top:20px;">
	<div class="col-md-6" >
	<p>
	<%= f.input :total %>
	</p>
	</div>
	<div class="col-md-12" style="margin-top:20px;">
	<%= f.button :submit, class: 'btn btn-default btn-sm' %>
	<%= link_to 'Show', @enter, class: 'btn btn-default btn-sm'  %>
	<%= link_to 'Back', enters_path, class: 'btn btn-default btn-sm'  %>
	</div>
	
</div>

</div> 
<% end %>
