<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @energy.sku %>
</p>

<p>
  <strong>Title:</strong>
  <%= @energy.title %>
</p>
<p>
  <strong>Short Desc:</strong>
  <%= @energy.short_description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @energy.quantity %>
</p>

<p>
  <strong>Cost price:</strong>
  <%= @energy.cost_price %>
</p>

<p>
  <strong>Price:</strong>
  <%= @energy.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @energy.description %>
</p>

<p>
  <strong>Image Insales url:</strong>
  <%= link_to @energy.image_url, @energy.image_url, :target => "_blank" %>
</p>
<p>
<%b = @energy.sku.gsub(/\W/,'-')%>
<%= image_tag("et_img/#{b}.jpg", :size => "100x100", :alt => "Picture", :width => '100', :height =>'100') %> 
</p>



<%= link_to 'Edit', edit_energy_path(@energy) %> |
<%= link_to 'Back', energies_path %>
