<%= simple_form_for(@emag) do |f| %>
  <% if @emag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@emag.errors.count, "error") %> prohibited this emag from being saved:</h2>

      <ul>
      <% @emag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-inputs">
    <%= f.input :sku %>
    <%= f.input :title %>
    <%= f.input :quantity %>
    <%= f.input :cost_price %>
    <%= f.input :discount %>
    <%= f.input :price %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
