<p id="notice"><%= notice %></p>
<div class="col-md-12" style="margin-bottom:20px;">
	<div class="col-md-12">
		<div class="col-md-3">
			<h1>Имаг<br><small>сводная таблица</small></h1>
			<p>Всего товаров - <%= @totalemags %></p>
			<p>Кол-во > 0 - <%= @emag_not_nill %></p>
		</div>
		<div class="col-md-3">
		
		<p>Import product</p>
		<p><%= form_tag import_emags_path, multipart: true do %></p>  
		<p><%= file_field_tag :file %></p><p><%= submit_tag "Import", :class =>'btn btn-default btn-xs' %></p>
		<% end %>
		</div>
		<div class="col-md-6">
  		<div classs = "search">
  		<p>Поиск</p>
			<%= search_form_for @search, method: :get, :class=> "form-inline"  do |f|%>
			<%= link_to_add_fields "Add Conditions", f, :condition %>  
			<%= f.condition_fields do |c|%>
			<%= render 'condition_fields', :f => c %>
			<%end%>

  		<%= f.submit "Search", class: 'btn btn-default btn-sm' %>
  		<%= link_to 'Reset', emags_path, class: 'btn btn-default btn-sm'  %>
		</div>
		<% end %>
		<p>Найдено <%=@emags.total_entries %> позиций</p>	
		</div>	
	</div>
<br>
	<div class="col-md-12">
		<div class="col-md-8">
		<p><!--<%= link_to 'Upload products', downloadproduct_emags_path%> | <%= link_to 'Update products', updateproduct_emags_path%>--> | Download: <%= link_to "CSV", emags_path(format: "csv") %> | <!--<%= link_to "Excel", emags_path(format: "xls") %>--></p>

		</div>
</div>
<br>
<div class="col-md-12">
<div class="media">
  <div class="media-body">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Sku</th>
      <th>Title</th>
      <th><%= sort_link(@search, :quantity, "Quantity") %></th>
      <th>Cost price</th>
      <th>Discount</th>
      <th>Sell price</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emags.each do |emag| %>
      <tr>
      <td><%= emag.id %></td>
        <td><%= emag.sku %></td>
        <td><%= emag.title %></td>
        <td><%= emag.quantity %></td>
        <td><%= emag.cost_price %></td>
        <td><%= emag.discount %></td>
        <td></td>
		<td><%= emag.price %></td>
        <td><%= link_to 'Show', emag, class: 'btn btn-default btn-sm'%></td>
        <td><%= link_to 'Edit', edit_emag_path(emag), class: 'btn btn-success btn-sm' %></td>
        <td><%= link_to 'Destroy', emag, method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' }  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
	<%= will_paginate @emags %>

</div>
</div>
</div>
</div>
