<p id="notice"><%= notice %></p>
<div class="col-md-12">
<div class="col-md-3">
<h2>Listing Acts</h2>
</div>
<div class="col-md-4">	
<%= link_to 'New Act', new_act_path, class: 'btn btn-sm btn-info' %>
</div>
<div class="col-md-12">
<div class="media">
  <div class="media-body">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Company</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acts.each do |act| %>
      <tr>
        <td><%= act.company.title %></td>
        <td><%= act.startdate %></td>
        <td><%= act.enddate %></td>
        <td><%= link_to 'Show', act , class: 'btn btn-default btn-xs'%></td>
        <td><%= link_to 'Edit', edit_act_path(act), class: 'btn btn-success btn-xs'  %></td>
        <td><%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, act, method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>

</div>

